@import forms.common.PaginationData
@import forms.common.PaginationData.RouteTransformer
@(data: PaginationData, rt: RouteTransformer, bound: Int = 5, align: String = "left")

@page() = @{
    data.page
}
@pageSize() = @{
    data.pageSize
}
@total() = @{
    data.total
}

@lowbound() = @{
    ((page.toDouble / bound).floor * bound).toInt
}
@highbound() = @{
    if((lowbound() + bound) * pageSize >= total)
        (total / pageSize + 1).toInt
    else
        lowbound() + bound
}

<ul class="uk-pagination @if(align=="left") { uk-pagination-left }">


    @if(page == 1) {
        <li class="uk-disabled"><span>Previous</span></li>
    } else {
        <li><a href="@rt.transform(page - 1)">Previous</a></li>

    }

    @if(page < bound) {
        <li class="uk-disabled"><span>&laquo;</span></li>
    } else {
        @if(lowbound() - bound <= 0) {
            <li><a href="@rt.transform(1)">&laquo;</a></li>
        } else {
            <li><a href="@rt.transform(lowbound() - bound)">&laquo;</a></li>
        }
    }

    @for(i <- lowbound().max(1) until page) {
        <li><a href="@rt.transform(i)">@i</a></li>
    }

    <li class="uk-active"><span>@page</span></li>

    @for(i <- page + 1 to highbound()) {
        <li><a href="@rt.transform(i)">@i</a></li>
    }

    @if(highbound() * pageSize <= total && highbound() > page && page * pageSize != total) {
        <li><a href="@rt.transform(highbound())">&raquo;</a></li>
    } else {
        <li class="uk-disabled"><span>&raquo;</span></li>
    }

    @if(page < highbound()) {
        <li><a href="@rt.transform(page + 1)">Next</a></li>
    } else {
        <li class="uk-disabled"><span>Next</span></li>
    }
</ul>