@import forms.realm.admin.RolesAdminRealmForm
@import forms.realm.admin.RolesAdminRealmForm.RolesFormData

@(currentRealm: models.RealmModel, currentPage: models.RealmPageModel, pageForm : toolbox.form.ExtendedForm[forms.realm.admin.VendorInformationForm, models.RealmPageModel])

@import play.i18n._
@import helper._

@*****************************
REUSABLE BLOCKS
******************************@
@displayError(f: toolbox.form.ExtendedForm[_,_], input: String) = {
@if(f != null && f.error(input) != null) {
<span class="form-error">@Messages.get(f.error(input).message(), f.error(input).arguments())</span><br>
}
}
@setValue(f: toolbox.form.ExtendedForm[_,_], input: String, default: String = "") = {
@if(f != null && f.field(input) != null){
value="@{f.field(input).value()}"
}else{
value="@default"
}
}

@setText(f: toolbox.form.ExtendedForm[_,_], input: String, default: String = "") = {@if(f != null && f.field(input) != null){@{f.field(input).value()}}else{@default}}


@commonview.BaseCommonView(currentRealm, header, javascript){

<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.vendorpage.SideBarVendorAdminView(currentRealm, currentPage, "PAGE.ADMIN.INFORMATION")
        </div>

        <div class="uk-width-medium-8-10 pit-main">

            <h1>@Messages.get("VENDOR.PAGE.ADMIN.INFO.TITLE")</h1>
            <div class="uk-grid">

                <div class="@if(!currentRealm.getPages.isEmpty){uk-width-medium-7-10}else{uk-width-medium-10-10}">
                    <div class="pit-wall-item">
                        <form class="uk-form uk-form-stacked" id="form-manage-page" name="form-manage-page" method="POST" enctype="multipart/form-data" autocomplete="off">
                            @CSRF.formField
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-vendor-info-name">@Messages.get("VENDOR.PAGE.ADMIN.INFO.NAME")</label>
                                    <div class="uk-form-controls">
                                        <input name="name" type="text" id="form-vendor-info-name" class="uk-width-1-1" @setValue(pageForm, "name", if(currentPage != null) currentPage.getName else "")>
                                    </div>
                                    @displayError(pageForm, "name")
                                </div>

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-vendor-info-desc">@Messages.get("VENDOR.PAGE.ADMIN.INFO.DESCRIPTION")</label>
                                    <div class="uk-form-controls">
                                        <textarea name="desc" type="textarea" id="form-vendor-info-desc" class="uk-width-1-1">@setText(pageForm, "desc", if(currentPage != null && currentPage.getVendorProfile != null) currentPage.getVendorProfile.getDescription else "")</textarea>
                                    </div>
                                    @displayError(pageForm, "desc")
                                </div>
                            </div>

                            <div>
                                <div class="uk-form-row form-row-hide-over">
                                    <label class="uk-form-label" for="vendor-logo-file">@Messages.get("VENDOR.PAGE.ADMIN.INFO.LOGO")</label>

                                    <div class="uk-form-controls">
                                        <div class="button-group">
                                            <button type="button" class="uk-button file-upload" id="vendor-logo-button-browse" name="vendor-logo-button-browse">
                                                <i class="uk-icon-image"></i>
                                                @Messages.get("VENDOR.PAGE.ADMIN.INFO.CHOOSE.LOGO")
                                            </button>
                                            <button type="button" class="uk-button uk-button-success hidden file-crop" id="vendor-logo-button-ok" name="vendor-logo-button-ok">
                                                <i class="uk-icon-check"></i>
                                                @Messages.get("FORM.BUTTON.OK")
                                            </button>
                                            <button type="button" class="uk-button uk-button-danger hidden file-cancel" id="vendor-logo-button-cancel" name="vendor-logo-button-cancel">
                                                <i class="uk-icon-close "></i> @Messages.get("FORM.BUTTON.CANCEL")
                                            </button>
                                        </div>

                                        <div id="vendor-logo-preview" class="hidden preview"></div>
                                        <input type="file" id="vendor-logo-file" name="logo" class="hidden" accept="image/x-png, image/gif, image/jpeg" data-select="512,512"/>
                                        <input type="hidden" id="vendor-logo-crop" name="logo_crop"/>

                                        <div id="vendor-logo-thumbnail" class="thumbnail logo-thumbnail">
                                            @if(currentPage != null && currentPage.getLogo != null) {
                                            <img src="@currentPage.getLogo.getUrlAsString"/>
                                            } else {
                                            <img src="@routes.Assets.versioned("img/default-page.png")"/>
                                            }
                                        </div>
                                    </div>
                                    <br/>
                                    @displayError(pageForm, "logo")
                                    <div class="realm-note">
                                        <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                        @Messages.get("VENDOR.PAGE.ADMIN.INFO.LOGO.INFO")
                                    </div>
                                </div>

                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-vendor-info-email">@Messages.get("VENDOR.PAGE.ADMIN.INFO.EMAIL")</label>
                                <div class="uk-form-controls">
                                    <input name="email" type="text" id="form-vendor-info-email" class="uk-width-1-1"
                                        @setValue(pageForm, "email", if(currentPage != null && currentPage.getVendorProfile != null) currentPage.getVendorProfile.getEmail else "")>
                                </div>
                                @displayError(pageForm, "email")
                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-vendor-info-phone">@Messages.get("VENDOR.PAGE.ADMIN.INFO.PHONE")</label>
                                <div class="uk-form-controls">
                                    <input name="phone" type="text" id="form-vendor-info-phone" class="uk-width-1-1"
                                           @setValue(pageForm, "phone", if(currentPage != null && currentPage.getVendorProfile != null) currentPage.getVendorProfile.getPhone else "")>
                                </div>
                                @displayError(pageForm, "phone")
                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-vendor-info-address">@Messages.get("VENDOR.PAGE.ADMIN.INFO.ADDRESS")</label>
                                <div class="uk-form-controls">
                                    <textarea name="address" type="text" id="form-vendor-info-address" class="uk-width-1-1">@setText(pageForm, "address", if(currentPage != null && currentPage.getVendorProfile != null) currentPage.getVendorProfile.getAddress else "")</textarea>
                                </div>
                                @displayError(pageForm, "address")
                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-vendor-info-city">@Messages.get("VENDOR.PAGE.ADMIN.INFO.CITY")</label>
                                <div class="uk-form-controls">
                                    <input name="city" type="text" id="form-vendor-info-city" class="uk-width-1-1"
                                           @setValue(pageForm, "city", if(currentPage != null && currentPage.getVendorProfile != null) currentPage.getVendorProfile.getCity else "")>
                                </div>
                                @displayError(pageForm, "city")
                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-vendor-info-zipcode">@Messages.get("VENDOR.PAGE.ADMIN.INFO.ZIPCODE")</label>
                                <div class="uk-form-controls">
                                    <input name="zipcode" type="text" id="form-vendor-info-zipcode" class="uk-width-1-1"
                                           @setValue(pageForm, "zipcode", if(currentPage != null && currentPage.getVendorProfile != null) currentPage.getVendorProfile.getZipcode else "")>
                                </div>
                                @displayError(pageForm, "zipcode")
                            </div>

                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-vendor-info-iban">@Messages.get("VENDOR.PAGE.ADMIN.INFO.IBAN")</label>
                                <div class="uk-form-controls">
                                    <input name="iban" type="text" id="form-vendor-info-iban" class="uk-width-1-1"
                                           @setValue(pageForm, "iban", if(currentPage != null && currentPage.getVendorProfile != null) currentPage.getVendorProfile.getIban else "")>
                                </div>
                                @displayError(pageForm, "iban")
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-vendor-info-iban-pdf">@Messages.get("VENDOR.PAGE.ADMIN.INFO.IBAN.PDF")</label>
                                @if(currentPage != null && currentPage.getVendorProfile != null && currentPage.getVendorProfile.getIbanPdf != null) {
                                  <a href="@currentPage.getVendorProfile.getIbanPdf.getUrlAsString">@Messages.get("VENDOR.PAGE.ADMIN.INFO.IBAN.FILE")</a>
                                    <button id="picture-remove" type="submit" class="uk-button"
                                            title="@Messages.get("VENDOR.PAGE.ADMIN.INFO.IBAN.DROP")"
                                            formaction="@controllers.realm.routes.VendorPageController.POST_PageAdministrationRemoveIBAN(currentRealm, currentPage)">
                                        <i class="uk-icon uk-icon-trash"></i>
                                    </button>
                                } else {
                                <input type="file" name="ibanPdf" id="form-vendor-info-iban-pdf" accept="application/pdf"/>
                                }
                            </div>

                            <br/><br/>

                            <button type="submit" class="uk-button uk-button-primary"
                                    formaction="@controllers.realm.routes.VendorPageController.POST_PageAdministrationVendorInfo(currentRealm, currentPage)">
                                <i class="uk-icon-save"></i>
                                @Messages.get("FORM.BUTTON.SAVE")
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.css")"/>
}
@javascript = {
    <script src="@routes.Assets.versioned("3rd-party/Jcrop/js/jquery.Jcrop.min.js")"></script>
    <script src="@routes.Assets.versioned("js/PitCropUtils.js")"></script>

<script src="@routes.Assets.versioned("3rd-party/elastic/jquery.elastic.min.js")"></script>
<script>$('#form-vendor-info-desc').elastic(); $('#form-vendor-info-address').elastic();</script>

}