@(
    currentRealm: models.RealmModel,
    currentRole: models.RoleWithAccountsModel,
    usersRoleForm: play.data.Form[forms.realm.admin.RoleUsersAdminRealmForm],
        allowRemoveSelf: Boolean,
        sideBarActive: String,
        usersCall: Call,
        permissionsCall: Call
)

@import play.i18n._
@import helper._
@import toolbox.helper.SessionHelper

@commonview.BaseCommonView(currentRealm, header, javascript){
<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName()</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.admin.SideBarAdminRealmView(sideBarActive, currentRealm)
        </div>

        <div class="uk-width-medium-8-10 pit-main">
            <h1>@Messages.get("REALM.ADMIN.ROLE.TITLE", currentRole.getName())</h1>

            @if(usersRoleForm != null) {
                @helper.repeat(usersRoleForm("users"), min = 0) { user =>
                    -> @user
                }
            }

            <!-- Tab View -->
            @realmview.admin.roles.TabBarRoleAdminRealmView("TAB.ROLE.USERS", usersCall, permissionsCall)

            <form class="uk-form uk-form-stacked" id="form-role-users" name="form-role-users" method="POST" autocomplete="off">

                @CSRF.formField

                <div class="pit-wall-item">
                    <h5>@Messages.get("REALM.ADMIN.USERS-ON-ROLE.TITLE", currentRole.getName())</h5>
                    <div>
                        <div id="grid-list-users" class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-observe>
                            @for((account, i) <- currentRole.getAccounts().zipWithIndex) {
                                <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-width-small-1-1 user-row" id="user-@account.getUidAsString()">
                                    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                                        <div class="user-avatar">
                                            <img  src="@routes.Assets.versioned("img/default-actor-logo.png")"/>
                                        </div>
                                        @if(allowRemoveSelf || !SessionHelper.getAccount().getUid().equals(account.getUid())) {
                                            <span class="uk-panel-badge uk-badge uk-badge-notification uk-badge-danger btn-user-delete" data-uid="@account.getUidAsString()">
                                                <i class="uk-icon-trash"></i>
                                            </span>
                                        }
                                        <h3 class="uk-panel-title">@account.getFullName()</h3>
                                        <div class="uk-text-truncate">
                                            <i>@account.getPrimaryEmail()</i>
                                        </div>
                                        <input type="hidden" name="users[@i].uid" value="@account.getUidAsString()">
                                        <input type="checkbox" name="users[@i].delete" class="hidden">
                                    </div>
                                </div>
                            }
                        </div>

                        <br/>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-user-search">Ajouter un utilisateur à administrer :</label>
                            <div class="uk-form-controls">
                                <div id="user-autocomplete" class="uk-autocomplete uk-form uk-form-icon"
                                     data-uk-autocomplete="{source:'@controllers.realm.admin.routes.RoleAdminRealmController.POST_getUsers(currentRealm)'}">
                                    <i class="uk-icon-user"></i>
                                    <input id="form-user-search" type="text" name="search" value="" placeholder="@Messages.get("REALM.ADMIN.ROLE.FORM.PLACEHOLDER.USER")" />
                                    <script type="text/autocomplete">
                                        <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                            {{~items}}
                                            <li data-value="{{ JSON.stringify($item) }}">
                                                <a>
                                                    {{ $item.fullName }}
                                                    <div><b>Email: </b>{{ $item.primaryEmail }}</div>
                                                </a>
                                            </li>
                                            {{/items}}
                                        </ul>
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/>
                    <button type="submit" class="uk-button uk-button-primary">
                        <i class="uk-icon-save"></i>
                        @Messages.get("FORM.BUTTON.SAVE")
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
}
@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/uikit/css/components/autocomplete.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.min.css")"/>
}
@javascript = {
    <script src="@routes.Assets.versioned("js/RoleUsersAdminRealm.js")"></script>
    <script>
        var MSG_USER_EXIST = '@Messages.get("REALM.ADMIN.ROLE.USER-ROLE-EXIST")';
        var DEFAULT_AVATAR = '@routes.Assets.versioned("img/default-actor-logo.png")';
        var CURRENT_ROLE = '@currentRole.getName()'
    </script>
}