@(
        currentRealm: models.RealmModel,
        currentRole: models.RoleWithAccountsModel,
        permsForm: play.data.Form[forms.realm.admin.RolePermissionsAdminRealmForm],
        sideBarActive: String,
        usersCall: Call,
        permissionsCall: Call
)

@import helper._
@import play.i18n._

@commonview.BaseCommonView(currentRealm, header, javascript){
<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName()</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.admin.SideBarAdminRealmView(sideBarActive, currentRealm)
        </div>

        <div class="uk-width-medium-8-10 pit-main">
            <h1>@Messages.get("REALM.ADMIN.ROLE.TITLE", currentRole.getName())</h1>

            <!-- Tab View -->
            @realmview.admin.roles.TabBarRoleAdminRealmView("TAB.ROLE.PERMISSIONS", usersCall, permissionsCall)


            <form class="uk-form uk-form-stacked" id="form-role-permissions" name="form-role-permissions" method="POST" autocomplete="off">

                @CSRF.formField

                <div class="pit-wall-item">
                    <h5>@Messages.get("REALM.ADMIN.PERMISSIONS-ON-ROLE.TITLE", currentRole.getName())</h5>
                    <div>

                        @if(currentRole.isReadonly()) {
                            <div>
                                <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                @Messages.get("REALM.ADMIN.PERMISSION.READONY.INFO", currentRole.getName())
                            </div>
                        }

                        <div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-observe>
                            <div class="uk-width-2-3">
                                <b>@Messages.get("REALM.ADMIN.ROLE.PERMISSION.SCOPE.TITLE")</b>
                            </div>
                            <div class="uk-width-1-3">
                                <b>@Messages.get("REALM.ADMIN.ROLE.PERMISSION.SCOPE.ADD")</b>
                            </div>
                            @if(permsForm != null) {
                                @helper.repeat(permsForm("permissions"), 0) { p =>
                                    <div class="uk-width-2-3">
                                        <input type="hidden" name="@(p.name.toString() + ".name")" value="@permsForm(p.name.toString() + ".name").value" />
                                        @Messages.get("PERMS." + permsForm(p.name.toString() + ".name").value)
                                    </div>
                                    <div class="uk-width-1-3">
                                        <input type="checkbox" name="@(p.name.toString() + ".add")"
                                        @if(permsForm(p.name.toString() + ".add").value.equals("true")) {checked}
                                        @if(currentRole.isReadonly()) {disabled readonly}
                                        />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <br/>
                    @if(!currentRole.isReadonly()) {
                        <button type="submit" class="uk-button uk-button-primary">
                            <i class="uk-icon-save"></i>
                            @Messages.get("FORM.BUTTON.SAVE")
                        </button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
}
@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/uikit/css/components/form-advanced.min.css")"/>
}
@javascript = {
}