@(currentRealm: models.RealmModel, rolesForm: play.data.Form[forms.realm.admin.RolesAdminRealmForm], rolesFormData: forms.realm.admin.RolesAdminRealmForm.RolesFormData[models.RoleRealmModel])
@import play.i18n._
@import helper._

@commonview.BaseCommonView(currentRealm, header, javascript){
<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName()</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.admin.SideBarAdminRealmView("NETWORK.ROLE", currentRealm)
        </div>

        <div class="uk-width-medium-8-10 pit-main">
            <form class="uk-form uk-form-stacked" id="form-manage-role" name="form-manage-role" method="POST" autocomplete="off">

                @CSRF.formField

                <h1>@Messages.get("REALM.ADMIN.ROLES.TITLE")</h1>
                <div class="pit-wall-item">
                    <h5>@Messages.get("REALM.ADMIN.ROLES-ON-REALM.TITLE", currentRealm.getName())</h5>

                    @realmview.admin.component.RolesCommonForm(rolesForm, true, rolesFormData)
                </div>

                <br/>
                <button type="button" class="uk-button uk-button-primary delete-warning" data-form="form-manage-role" data-confirm="@Messages.get("REALM.ADMIN.ROLE.DELETE.CONFIRM")">
                    <i class="uk-icon-save"></i>
                    @Messages.get("FORM.BUTTON.SAVE")
                </button>
            </form>
        </div>
    </div>
</div>
}
@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.css")"/>
}
@javascript = {
    <script src="@routes.Assets.versioned("js/RolesAdminRealm.js")"></script>
    <script>
        UIkit.modal.labels = {
            Ok: "@Messages.get("FORM.BUTTON.OK")",
            Cancel: "@Messages.get("FORM.BUTTON.CANCEL")"
        }
    </script>
}