@(
        active: String,
        usersCall: Call,
        permissionsCall: Call
)
@import play.i18n._

<ul class="uk-tab">
    <li @if(active == "TAB.ROLE.USERS") {
        class="uk-active"}>
        <a href="@usersCall">
            <i class="uk-icon-group"></i> @Messages.get("REALM.ADMIN.TAB.ROLE.USERS")
        </a>
    </li>
    <li @if(active == "TAB.ROLE.PERMISSIONS") {
        class="uk-active"}>
        <a href="@permissionsCall">
            <i class="uk-icon-pencil"></i> @Messages.get("REALM.ADMIN.TAB.ROLE.PERMISSSIONS")
        </a>
    </li>
</ul>
