@(currentRealm: models.RealmModel, currentActor: models.ActorModel)
@import play.i18n._
@import toolbox.helper.SessionHelper

@javascript = {
    <script src="@routes.Assets.versioned("3rd-party/elastic/jquery.elastic.min.js")"></script>
    <script>$('#pit-wall-publish-textarea').elastic();</script>
}

@commonview.BaseCommonView(currentRealm, null, javascript){
    <div class="uk-container uk-container-center pit-page">
        <div class="uk-grid">
            <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar pit-sidebar-">
                @commonview.SideBarCommonView(currentRealm)
            </div>
            <div class="uk-width-medium-8-10 pit-main">
                <div class="uk-container uk-container-center pit-actorpage-header">
                    <div class="uk-grid pit-homepage-header-background pit-homepage-header-background-big"
                         style="background-image: url('@routes.Assets.versioned("img/default-actor-banner.png")')">
                        <img class="pit-header-avatar"
                             src="@if(true) {@routes.Assets.versioned("img/default-actor-logo.png")}"/>
                        <div class="pit-homepage-header-title">@currentActor.getProfile().getName()</div>
                    </div>
                    <div class="uk-grid pit-homepage-header-menu">
                        <ul class="uk-nav uk-nav-side" data-uk-switcher="{connect:'#page-content'}">
                            <li class="uk-active" aria-expanded="false"><a href="">Journal</a></li>
                            <li aria-expanded="false" class=""><a href="">À propos</a></li>
                            <li aria-expanded="false" class=""><a href="">Boutique</a></li>
                            <li aria-expanded="true"><a href="">Photo</a></li>
                            <li aria-expanded="true"><a href="">Évènements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
