@import forms.realm.AddPostForm
@(currentRealm: models.RealmModel,
        lastArticles: List[models.ArticleModel],
        bestArticles: List[models.ArticleModel],
        posts: List[models.PostModel],
        addPostForm: toolbox.form.ExtendedForm[AddPostForm, models.RealmModel])

    @import toolbox.helper.SessionHelper;

    @header = {
        <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
    }

    @javascript = {
        @components.post.AddPostFormScripts()
    }

    @commonview.BaseCommonView(currentRealm, header, javascript) {
        @realmview.RealmHeader(currentRealm)
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar">
                @commonview.SideBarCommonView(currentRealm)
                </div>
                <div class="uk-width-medium-5-10 pit-main">
                @defining(SessionHelper.getAccount().isGrantedTo(currentRealm)) { isRealmAdmin =>

                    @if(isRealmAdmin) {
                        @if(addPostForm != null && addPostForm.error("emptypost") != null) {
                            @components.post.AddPostForm(addPostForm.error("emptypost").message())
                        } else {
                            @components.post.AddPostForm(null)
                        }
                    }

                    @for(post <- posts) {
                        @components.post.PostView(post, currentRealm, isRealmAdmin && currentRealm.posts.contains(post))
                    }
                }

                </div>
                <div class="uk-width-medium-3-10 pit-sidebar-right">
                @commonview.RightBarCommonView(currentRealm, lastArticles, bestArticles)()
                </div>
            </div>
        </div>
    }
