@(currentRealm: models.RealmModel)

@import play.i18n._
@import toolbox.helper.SessionHelper

<div>
<div class="uk-container uk-container-center pit-homepage-header">
    <div class="uk-grid pit-homepage-header-background pit-homepage-header-background-fix"
    style="background-image: url('@if(currentRealm.getBanner() == null){@routes.Assets.versioned("img/default-realm-banner.png")} else {@currentRealm.getBanner().getUrlAsString()}')">
    @if(SessionHelper.getAccount().isGrantedTo(currentRealm)) {
        <div class="pit-header-button">
            <a href="@controllers.realm.admin.routes.NetworkAdminRealmController.GET_NetworkConfiguration(currentRealm)" class="uk-button uk-button-small uk-button-primary"><i class="uk-icon-cog"></i> @Messages.get("REALM.ADMIN.BUTTON")</a>
        </div>
    }
</div>
</div>