@import forms.common.PaginationData
@(currentRealm: models.RealmModel,
        formSearch: Form[forms.realm.SearchRealmForm],
        searchResultsMap: List[controllers.realm.SearchRealmController.SearchResultBlock],
        pagination: PaginationData)

@import play.i18n._

@commonview.BaseCommonView(currentRealm){
    @realmview.RealmHeader(currentRealm)
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar">
                <h6>Filtres</h6>
                <ul class="uk-list pit-list">
                    @for(st <- models.SearchRequestType.values()){
                        <a href="@controllers.realm.routes.SearchRealmController.GET_Search(currentRealm)?type=@st.name().toLowerCase()&q=@if(request().queryString().containsKey("q")){@request().queryString().get("q")}"><li>@Messages.get("SEARCH.RESULT.TYPE."+st.name().toLowerCase())</li></a>
                    }
                </ul>
            </div>
            <div class="uk-width-medium-8-10 pit-main">
                @if(searchResultsMap != null) {
                    @for(searchResults <- searchResultsMap) {
                        @if(searchResults != null) {
                            <div class="uk-panel">
                                <h3 class="uk-panel-title">@Messages.get("SEARCH.RESULT.TYPE." + searchResults.searchType)</h3>
                                <div @if(searchResults.searchType == SearchRequestType.ARTICLE.getType){class="uk-grid"}>
                                @if(searchResults.searchResultList.nonEmpty) {
                                    @for(rs <- searchResults.searchResultList) {
                                        @if(searchResults.searchType == SearchRequestType.ARTICLE.getType) {
                                            @components.article.ArticleGridItemView(rs)
                                        } else {
                                            <div class="pit-wall-item">
                                                <div class="pit-wall-item-header">
                                                    <img src="@rs.get("logo")"/>
                                                    <div class="pit-wall-item-header-author">
                                                        <h8><a href="@rs.get("slug")">@rs.get("label")</a></h8>
                                                        <p>@rs.get("description")</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                } else {
                                    <p>@Messages.get("SEARCH.RESULT.NO.RESULTS")</p>
                                }

                                @if(searchResults.hasMore) {
                                    <span class="md-view-more-ctrl">

                                    <a href="@controllers.realm.routes.SearchRealmController.GET_Search(currentRealm)?type=@searchResults.searchType.toLowerCase()&q=@if(request().queryString().containsKey("q")) {@request().queryString().get("q")}">
                                        @Messages.get("COMMON.VIEW.MORE")
                                    </a>
                                    </span>
                                }
                                </div>

                            </div>
                        }
                    }
                }

                @if(pagination != null && pagination.show) {
                    @components.Pagination(pagination, controllers.realm.SearchRealmController.pagedSearch(currentRealm, formSearch))
                }
            </div>
        </div>
    </div>
}
