@(currentRealm: models.RealmModel, currentGroup: models.RealmGroupModel, groupForm : toolbox.form.ExtendedForm[forms.realm.admin.ManageRealmGroupForm, models.RealmGroupModel], countMember : Integer)
@import play.i18n._
@import helper._

@*****************************
REUSABLE BLOCKS
******************************@
@displayError(f: toolbox.form.ExtendedForm[_,_], input: String) = {
    @if(f != null && f.error(input) != null) {
        <span class="form-error">@Messages.get(f.error(input).message(), f.error(input).arguments())</span><br>
    }
}
@setValue(f: toolbox.form.ExtendedForm[_,_], input: String, default: String = "") = {
    @if(f != null && f.field(input) != null){
        value="@{f.field(input).value()}"
    }else{
        value="@default"
    }
}

@commonview.BaseCommonView(currentRealm, header, javascript){

<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName()</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.admin.SideBarAdminRealmView("SOCIAL.GROUP", currentRealm)
        </div>

        <div class="uk-width-medium-8-10 pit-main">

            <h1>@Messages.get("REALM.ADMIN.REALM.GROUP.TITLE")</h1>
            <div class="uk-grid">
                @if(!currentRealm.getGroups().isEmpty()){
                    <div class="uk-width-medium-3-10">
                        <div class="pit-wall-item">
                            <h5 class="uk-text-center">@Messages.get("REALM.ADMIN.REALM.GROUP.HEADER.LIST")</h5>
                            <div>
                                <ul class="uk-list pit-list pit-list-item">
                                    @for(group <- currentRealm.getGroups()){
                                        <a href="@controllers.realm.admin.routes.ManageRealmGroupController.GET_ManageRealmGroup(currentRealm, group)">
                                            <li>
                                                <div class="uk-grid" style="margin-left: 0;">
                                                    <div class="uk-width-1-3 uk-text-center uk-text-middle" style="padding-left: 0;">
                                                        <image src="@if(group.getLogo() != null){@group.getLogo().getUrlAsString()}else{@routes.Assets.versioned("img/default-group.png")}"/>
                                                    </div>
                                                    <div class="uk-width-2-3" style="padding-left: 0;">
                                                        <h8 class="uk-text-justify">@group.getName()</h8>
                                                    </div>
                                                </div>
                                            </li>
                                        </a>
                                    }
                                    <a href="@controllers.realm.admin.routes.ManageRealmGroupController.GET_ManageRealmGroups(currentRealm)">
                                        <li>
                                            <div class="uk-grid" style="margin-left: 0;">
                                                <div class="uk-width-1-3 uk-text-center uk-text-middle" style="padding-left: 0;">
                                                    <i class="uk-icon-plus-circle uk-icon-medium"></i>
                                                </div>
                                                <div class="uk-width-2-3" style="padding-left: 0;">
                                                    <h8 class="uk-text-justify uk-text-middle">@Messages.get("REALM.ADMIN.REALM.GROUP.CREATE.NEW.GROUP")</h8>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                <div @if(!currentRealm.getGroups().isEmpty()){class="uk-width-medium-7-10"}else{class="uk-width-medium-10-10"}>
                    <div class="pit-wall-item">
                        <form class="uk-form uk-form-stacked" id="form-create-group" name="form-create-group" method="POST" enctype="multipart/form-data" autocomplete="off">
                            @CSRF.formField
                            <h5 style="margin-top:0;">@Messages.get("REALM.ADMIN.REALM.GROUP.BASE.INFO.HEADER")</h5>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-realm-group-name">@Messages.get("REALM.ADMIN.REALM.GROUP.NAME.LABEL")</label>
                                    <div class="uk-form-controls">
                                        <input name="name" type="text" id="form-realm-group-name" class="uk-width-1-1" @setValue(groupForm, "name", if(currentGroup != null) currentGroup.getName() else "")/>
                                    </div>
                                    @displayError(groupForm, "name")
                                </div>

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-realm-group-url">@Messages.get("REALM.ADMIN.REALM.GROUP.SLUG.LABEL")</label>
                                    <div class="uk-form-controls">
                                        <input name="slug" type="text" id="form-realm-group-url" class="uk-width-1-1 slug-input" @setValue(groupForm, "slug", if(currentGroup != null) currentGroup.getSlug() else "")/>
                                    </div>
                                    @displayError(groupForm, "slug")
                                    <span>@realm.routes.HomeRealmController.GET_HomePage(currentRealm).absoluteURL()/group/<i><strong class="slug-placeholder"></strong></i></span>
                                    <div class="realm-note">
                                        <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                        @Messages.get("REALM.ADMIN.NETWORK.SLUG.DESCRIPTION")
                                    </div>
                                </div>
                            </div>

                            <h5>@Messages.get("REALM.ADMIN.REALM.GROUP.ABOUT.GROUP.HEADER")</h5>
                            <div>
                                <div class="uk-form-row form-row-hide-over">
                                    <label class="uk-form-label" for="realm-group-logo-file">@Messages.get("REALM.ADMIN.REALM.GROUP.LOGO.LABEL")</label>

                                    <div class="uk-form-controls">
                                        <div class="button-group">
                                            <button type="button" class="uk-button file-upload" id="realm-group-logo-button-browse" name="realm-group-logo-button-browse">
                                                <i class="uk-icon-image"></i>
                                                @Messages.get("REALM.ADMIN.REALM.GROUP.BTN.SELECT.IMG")
                                            </button>
                                            <button type="button" class="uk-button uk-button-success hidden file-crop" id="realm-group-logo-button-ok" name="realm-group-logo-button-ok">
                                                <i class="uk-icon-check"></i>
                                                @Messages.get("FORM.BUTTON.OK")
                                            </button>
                                            <button type="button" class="uk-button uk-button-danger hidden file-cancel" id="realm-group-logo-button-cancel" name="realm-group-logo-button-cancel">
                                                <i class="uk-icon-close "></i> @Messages.get("FORM.BUTTON.CANCEL")
                                            </button>
                                        </div>

                                        <div id="realm-group-logo-preview" class="hidden preview"></div>
                                        <input type="file" id="realm-group-logo-file" name="logo" class="hidden" accept="image/x-png, image/gif, image/jpeg" data-select="512,512"/>
                                        <input type="hidden" id="realm-group-logo-crop" name="logo_crop"/>

                                        <div id="realm-group-logo-thumbnail" class="thumbnail logo-thumbnail">
                                            @if(currentGroup != null && currentGroup.getLogo() != null) {
                                                <img src="@currentGroup.getLogo().getUrlAsString()"/>
                                            } else {
                                                <img src="@routes.Assets.versioned("img/default-group.png")"/>
                                            }
                                        </div>
                                    </div>
                                    <br/>
                                    @displayError(groupForm, "logo")
                                    <div class="realm-note">
                                        <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                        @Messages.get("REALM.ADMIN.REALM.GROUP.WARNING.LOGO")
                                    </div>
                                </div>

                                <div class="uk-form-row form-row-hide-over">
                                    <label class="uk-form-label" for="realm-group-banner-file">
                                        @Messages.get("REALM.ADMIN.REALM.GROUP.BANNER.LABEL")
                                    </label>
                                    <div class="uk-form-controls">
                                        <div class="button-group">
                                            <button type="button" class="uk-button file-upload" id="realm-group-banner-button-browse" name="realm-group-banner-button">
                                                <i class="uk-icon-image"></i>
                                                @Messages.get("REALM.ADMIN.REALM.GROUP.BTN.SELECT.IMG")
                                            </button>
                                            <button type="button" class="uk-button uk-button-success hidden file-crop" id="realm-group-banner-button-ok" name="realm-group-banner-button-ok">
                                                <i class="uk-icon-check"></i>
                                                @Messages.get("FORM.BUTTON.OK")
                                            </button>
                                            <button type="button" class="uk-button uk-button-danger hidden file-cancel" id="realm-group-banner-button-cancel" name="realm-group-banner-button-cancel">
                                                <i class="uk-icon-close"></i>
                                                @Messages.get("FORM.BUTTON.CANCEL")
                                            </button>
                                        </div>
                                        <div id="realm-group-banner-preview" class="hidden preview"></div>
                                        <input type="file" id="realm-group-banner-file" name="banner" class="hidden" accept="image/x-png, image/gif, image/jpeg" data-select="1200,250"/>
                                        <input type="hidden" id="realm-group-banner-crop" name="banner_crop"/>

                                        <div id="realm-group-banner-thumbnail" class="thumbnail banner-thumbnail">
                                            @if(currentGroup != null && currentGroup.getBanner() != null) {
                                            <img src="@currentGroup.getBanner().getUrlAsString()"/>
                                            } else {
                                            <img src="@routes.Assets.versioned("img/default-realm-banner.png")"/>
                                            }
                                        </div>
                                        <br/>
                                        @displayError(groupForm, "banner")
                                        <div class="realm-note">
                                            <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                            @Messages.get("REALM.ADMIN.REALM.GROUP.WARNING.BANNER")
                                        </div>
                                    </div>

                            </div>
                            <h5>@Messages.get("REALM.ADMIN.REALM.GROUP.MEMBERS.HEADER")</h5>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-member-search">@Messages.get("REALM.ADMIN.REALM.GROUP.ADD.MEMBER")</label>

                                    <div class="uk-form-controls">
                                        <div id="member-autocomplete" class="uk-autocomplete uk-form uk-form-icon" data-uk-autocomplete="{source:'@controllers.realm.admin.routes.ManageRealmGroupController.POST_AutocompleteFindRealmAccount(currentRealm)'}">
                                            <i class="uk-icon-user"></i>
                                            <input id="form-member-search" type="text" name="search" value="" placeholder="@Messages.get("REALM.ADMIN.REALM.GROUP.SEARCH.USER")" />
                                            @realmview.admin.component.userAutocomplete()
                                        </div>
                                    </div>

                                    <div id="member-group-list">
                                        @if(groupForm != null){
                                        @helper.repeat(groupForm("members"), min = 0){ member =>
                                        <div class="uk-form-controls uk-form-icon member" id="member-@groupForm(member.name.toString() + ".id").value">
                                            <i class="uk-icon-user"></i>
                                            <input type="hidden" name="@groupForm(member.name.toString() + ".id").name" value="@groupForm(member.name.toString() + ".id").value"/>
                                            <input type="text" name="@groupForm(member.name.toString() + ".fullname").name" value="@groupForm(member.name.toString() + ".fullname").value" disabled/>
                                            <button type="button" class="uk-button btn-delete btn-delete-member" data-uid="@groupForm(member.name.toString() + ".id").value" data-status="saved">
                                                <i class="uk-icon uk-icon-trash"></i>
                                                <input class="hidden" type="checkbox" name="@groupForm(member.name.toString() + ".delete").name"/>
                                            </button>
                                        </div>
                                        }
                                        }
                                    </div>

                                </div>
                            </div>


                                <h5>@Messages.get("REALM.ADMIN.REALM.GROUP.ADMINS.HEADER")</h5>
                                <div>
                                    <div class="uk-form-row">
                                        <label class="uk-form-label" for="form-admin-search">@Messages.get("REALM.ADMIN.REALM.GROUP.ADD.ADMIN")</label>

                                        <div class="uk-form-controls">
                                            <div id="admin-autocomplete" class="uk-autocomplete uk-form uk-form-icon" data-uk-autocomplete="{source:'@controllers.realm.admin.routes.ManageRealmGroupController.POST_AutocompleteFindRealmAccount(currentRealm)'}">
                                                <i class="uk-icon-user"></i>
                                                <input id="form-admin-search" type="text" name="search" value="" placeholder="@Messages.get("REALM.ADMIN.REALM.GROUP.SEARCH.USER")" />
                                                @realmview.admin.component.userAutocomplete()
                                            </div>
                                        </div>

                                        <div id="admin-group-list">
                                        @if(groupForm != null){
                                            @helper.repeat(groupForm("admins"), min = 0){ member =>
                                                <div class="uk-form-controls uk-form-icon member" id="member-@groupForm(member.name.toString() + ".id").value">
                                                    <i class="uk-icon-user"></i>
                                                    <input type="hidden" name="@groupForm(member.name.toString() + ".id").name" value="@groupForm(member.name.toString() + ".id").value"/>
                                                    <input type="text" name="@groupForm(member.name.toString() + ".fullname").name" value="@groupForm(member.name.toString() + ".fullname").value" disabled/>
                                                    <button type="button" class="uk-button btn-delete btn-delete-member" data-uid="@groupForm(member.name.toString() + ".id").value" data-status="saved">
                                                        <i class="uk-icon uk-icon-trash"></i>
                                                        <input class="hidden" type="checkbox" name="@groupForm(member.name.toString() + ".delete").name"/>
                                                    </button>
                                                </div>
                                            }
                                        }
                                        </div>

                                    </div>
                                </div>
                                <h5>@Messages.get("REALM.ADMIN.PERMISSIONS-ON-ROLE.TITLE", Messages.get("REALM.ADMIN.REALM.GROUP.ADMIN.NAME"))</h5>
                                <div>
                                    <div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-observe>
                                        <div class="uk-width-2-3">
                                            <b>@Messages.get("REALM.ADMIN.ROLE.PERMISSION.SCOPE.TITLE")</b>
                                        </div>
                                        <div class="uk-width-1-3">
                                            <b>@Messages.get("REALM.ADMIN.ROLE.PERMISSION.SCOPE.ADD")</b>
                                        </div>
                                        @helper.repeat(groupForm("adminPermissions"), 0) { p =>
                                            <div class="uk-width-2-3">
                                                <input type="hidden" name="@(p.name.toString() + ".name")" value="@groupForm(p.name.toString() + ".name").value" />
                                                @Messages.get("PERMS." + groupForm(p.name.toString() + ".name").value)
                                            </div>
                                            <div class="uk-width-1-3">
                                                <input type="checkbox" name="@(p.name.toString() + ".add")"
                                                @if(p.name.toString() != null && groupForm(p.name.toString() + ".add") != null && "true".equals(groupForm(p.name.toString() + ".add").value)) {checked}
                                                />
                                            </div>
                                        }
                                    </div>
                                </div>

                                <br/><br/>
                            @if(currentGroup == null){
                                <button type="submit" class="uk-button uk-button-primary" formaction="@controllers.realm.admin.routes.ManageRealmGroupController.POST_CreateRealmGroup(currentRealm)">
                                    <i class="uk-icon-save"></i>
                                    @Messages.get("FORM.BUTTON.ADD")
                                </button>
                            }else{
                                <button type="submit" class="uk-button uk-button-primary" formaction="@controllers.realm.admin.routes.ManageRealmGroupController.POST_EditRealmGroup(currentRealm, currentGroup)">
                                    <i class="uk-icon-save"></i>
                                    @Messages.get("FORM.BUTTON.SAVE")
                                </button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.css")"/>
}
@javascript = {
    <script src="@routes.Assets.versioned("js/helper/slugifier.js")"></script>
    <script src="@routes.Assets.versioned("3rd-party/Jcrop/js/jquery.Jcrop.min.js")"></script>
    <script src="@routes.Assets.versioned("js/PitCropUtils.js")"></script>
    <script src="@routes.Assets.versioned("js/ManageRealmGroupAdminRealm.js")"></script>
    <script>
        var MSG_MEMBER_EXIST = "@Messages.get("REALM.ADMIN.REALM.GROUP.MEMBER.ALREADY.ADD")";
        var DEFAULT_AVATAR = '@routes.Assets.versioned("img/default-actor-logo.png")';
    </script>
}