@(currentRealm: models.RealmModel, realmForm: toolbox.form.ExtendedForm[forms.realm.admin.NetworkAdminRealmForm, models.RealmModel], countDomainWhite: Integer)
@import play.i18n._
@import helper._

@commonview.BaseCommonView(currentRealm, header, javascript){
<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName()</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.admin.SideBarAdminRealmView("NETWORK.CONFIGURATION", currentRealm)
        </div>

        <div class="uk-width-medium-8-10 pit-main">
            <form class="uk-form uk-form-stacked" id="form-createaccount" name="form-createaccount" method="POST"
                  enctype="multipart/form-data" autocomplete="off">

                @CSRF.formField

                <h1>@Messages.get("REALM.ADMIN.NETWORK.CONFIGURATION")</h1>

                <div class="pit-wall-item">

                    <h5>@Messages.get("REALM.ADMIN.NETWORK.CONFIGURATION.BASIC")</h5>
                    <div>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-realm-name">@Messages.get("REALM.ADMIN.NETWORK.FORM.LABEL.NAME")</label>

                            <div class="uk-form-controls">
                                <input name="name" type="text" id="form-realm-name"
                                       class="@{if(realmForm != null && realmForm.error("name") != null) "uk-form-danger" }"
                                placeholder="@Messages.get("REALM.ADMIN.NETWORK.FORM.PLACEHOLDER.NAME")"
                                value="@if(realmForm !=null){@realmForm.field("name").value()}else{@currentRealm.getName()}"/>
                            </div>
                            @if(realmForm != null && realmForm.error("name") != null) {
                                <span class="form-error">
                                    @Messages.get(realmForm.error("name").message(), realmForm.error("name").arguments())
                                </span>
                            }
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-realm-url">@Messages.get("REALM.ADMIN.NETWORK.FORM.LABEL.SLUG")</label>

                            <div class="uk-form-controls">
                                <input name="slug" type="text" id="form-realm-url"
                                       class="slug-input @{if(realmForm != null && realmForm.error("slug") != null) "uk-form-danger" }"
                                placeholder="@Messages.get("REALM.ADMIN.NETWORK.FORM.PLACEHOLDER.SLUG")"
                                value="@if(realmForm != null){@realmForm.field("slug").value()}else{@currentRealm.getSlug()}"/>
                            </div>
                            @if(realmForm != null && realmForm.error("slug") != null) {
                            <span class="form-error">@Messages.get(realmForm.error("slug").message(), realmForm.error("slug").arguments())</span>
                            <br/>
                            }
                            <span>@routes.BaseApplicationController.GET_BaseApplication().absoluteURL()<i><strong class="slug-placeholder"></strong></i></span>
                            <div class="realm-note">
                                <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                @Messages.get("REALM.ADMIN.NETWORK.SLUG.DESCRIPTION")
                            </div>
                        </div>
                    </div>

                    <h5>@Messages.get("REALM.ADMIN.NETWORK.CONFIGURATION.ABOUT")</h5>
                    <div>
                        <div class="uk-form-row form-row-hide-over">
                            <label class="uk-form-label" for="realm-logo-file">@Messages.get("REALM.ADMIN.NETWORK.FORM.LABEL.LOGO")</label>

                            <div class="uk-form-controls">
                                <div class="button-group">
                                    <button type="button" class="uk-button file-upload" id="realm-logo-button-browse"
                                            name="realm-logo-button-browse">
                                        <i class="uk-icon-image"></i>
                                        @Messages.get("REALM.ADMIN.NETWORK.FORM.BUTTON.LOGO")
                                    </button>
                                    <button type="button" class="uk-button uk-button-success hidden file-crop"
                                            id="realm-logo-button-ok" name="realm-logo-button-ok">
                                        <i class="uk-icon-check"></i>
                                        @Messages.get("FORM.BUTTON.OK")
                                    </button>
                                    <button type="button" class="uk-button uk-button-danger hidden file-cancel"
                                            id="realm-logo-button-cancel" name="realm-logo-button-cancel">
                                        <i class="uk-icon-close "></i> @Messages.get("FORM.BUTTON.CANCEL")
                                    </button>
                                </div>

                                <div id="realm-logo-preview" class="hidden preview"></div>
                                <input type="file" id="realm-logo-file" name="logo" class="hidden" accept="image/x-png, image/gif, image/jpeg"
                                       data-select="512,512"/>
                                <input type="hidden" id="realm-logo-crop" name="logo_crop"/>

                                <div id="realm-logo-thumbnail" class="thumbnail logo-thumbnail">
                                    @if(currentRealm.getLogo() == null) {
                                    <img src="@routes.Assets.versioned("img/default-realm.png")"/>
                                    } else {
                                    <img src="@currentRealm.getLogo().getUrlAsString()"/>
                                    }
                                </div>
                            </div>
                            <br/>
                            @if(realmForm != null && realmForm.error("logo") != null) {
                                <span class="form-error">
                                    @Messages.get(realmForm.error("logo").message(), realmForm.error("logo").arguments())
                                </span>
                            }
                            <div class="realm-note">
                                <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                @Messages.get("REALM.ADMIN.NETWORK.LOGO.DESCRIPTION")
                            </div>
                        </div>

                        <div class="uk-form-row form-row-hide-over">
                            <label class="uk-form-label" for="realm-banner-file">
                                @Messages.get("REALM.ADMIN.NETWORK.FORM.LABEL.BANNER")
                            </label>
                            <div class="uk-form-controls">
                                <div class="button-group">
                                    <button type="button" class="uk-button file-upload" id="realm-banner-button-browse"
                                            name="realm-banner-button">
                                        <i class="uk-icon-image"></i>
                                        @Messages.get("REALM.ADMIN.NETWORK.FORM.BUTTON.BANNER")
                                    </button>
                                    <button type="button" class="uk-button uk-button-success hidden file-crop"
                                            id="realm-banner-button-ok" name="realm-banner-button-ok">
                                        <i class="uk-icon-check"></i>
                                        @Messages.get("FORM.BUTTON.OK")
                                    </button>
                                    <button type="button" class="uk-button uk-button-danger hidden file-cancel"
                                            id="realm-banner-button-cancel" name="realm-banner-button-cancel">
                                        <i class="uk-icon-close"></i> @Messages.get("FORM.BUTTON.CANCEL")
                                    </button>
                                </div>
                                <div id="realm-banner-preview" class="hidden preview"></div>
                                <input type="file" id="realm-banner-file" name="banner" class="hidden" accept="image/x-png, image/gif, image/jpeg"
                                       data-select="1200,250"/>
                                <input type="hidden" id="realm-banner-crop" name="banner_crop"/>

                                <div id="realm-banner-thumbnail" class="thumbnail banner-thumbnail">
                                    @if(currentRealm.getBanner() == null) {
                                    <img src="@routes.Assets.versioned("img/default-realm-banner.png")"/>
                                    } else {
                                    <img src="@currentRealm.getBanner().getUrlAsString()"/>
                                    }
                                </div>
                                <br/>
                                @if(realmForm != null && realmForm.error("banner") != null) {
                                    <span class="form-error">
                                        @Messages.get(realmForm.error("banner").message(), realmForm.error("banner").arguments())
                                    </span>
                                }
                                <div class="realm-note">
                                    <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                    @Messages.get("REALM.ADMIN.NETWORK.BANNER.DESCRIPTION")
                                </div>
                            </div>

                            <!--
                                TODO: Address (Street, Street 2, City, phone, website, description), use ActorProfile
                                TODO: when needed.
                            -->
                        </div>

                        <h5>@Messages.get("REALM.ADMIN.NETWORK.CONFIGURATION.EMAIL_DOMAINS_WHITHELIST")</h5>
                        <div>
                            <div>
                                @Messages.get("REALM.ADMIN.NETWORK.EMAIL_DOMAINS_WHITHELIST.DESCRIPTION")
                                <br/>
                                @Messages.get("REALM.ADMIN.NETWORK.EMAIL_DOMAINS_WHITHELIST.SAMPLE")
                            </div>

                            <div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-observe id="realm-list-domains">
                                @helper.repeat(realmForm("domains"), min = countDomainWhite + 1) { wlDomain =>
                                <div class="uk-width-1-1">
                                    <div class="uk-form-icon">
                                        <i class="uk-icon-at"></i>
                                        <input type="hidden" name="@realmForm(wlDomain.name.toString() + ".id").name" value="@realmForm(wlDomain.name.toString() + ".id").value" />
                                        <input type="text" name="@realmForm(wlDomain.name.toString() + ".domain").name" value="@realmForm(wlDomain.name.toString() + ".domain").value" class="@{if(realmForm.error(wlDomain.name.toString() + ".domain") != null) "uk-form-danger" }"/>
                                        @if(realmForm(wlDomain.name.toString() + ".id").value) {
                                        <button type="button" class="uk-button btn-delete" data-status="saved">
                                            <i class="uk-icon uk-icon-trash"></i>
                                            <input class="hidden" type="checkbox" name="@realmForm(wlDomain.name.toString() + ".delete").name"/>
                                        </button>
                                        }
                                    </div>
                                    @if(realmForm != null && realmForm.error(wlDomain.name.toString() + ".domain") != null) {
                                        <span class="form-error">
                                            @Messages.get(realmForm.error(wlDomain.name.toString() + ".domain").message(), realmForm.error(wlDomain.name.toString() + ".domain").arguments())
                                        </span>
                                    }
                                </div>
                                }
                            </div>
                            <div class="realm-note">
                                <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                @Messages.get("REALM.ADMIN.NETWORK.EMAIL_DOMAINS_WHITHELIST.INFO_DELETE")
                            </div>
                            <div class="button-group">
                                <button type="button" class="uk-button" id="realm-add-domain">
                                    <i class="uk-icon-plus"></i>
                                    @Messages.get("REALM.ADMIN.NETWORK.EMAIL_DOMAINS_WHITHELIST.BUTTON.ADD")
                                </button>
                            </div>

                        </div>
                        <br/><br/>
                        <button type="submit" class="uk-button uk-button-primary">
                            <i class="uk-icon-save"></i>
                            @Messages.get("FORM.BUTTON.SAVE")
                        </button>
            </form>
        </div>
    </div>
</div>
}
@header = {
<link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/uikit/js/core/grid.min.js")"/>
<link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.css")"/>
}
@javascript = {
@if(realmForm.errors == null) {
<script>var countDomainWhite = @(countDomainWhite + 1);</script>
} else {
<script>var countDomainWhite = @(realmForm.errors().size() + countDomainWhite + 5);</script>
}
    <script src="@routes.Assets.versioned("js/helper/slugifier.js")"></script>
    <script src="@routes.Assets.versioned("3rd-party/Jcrop/js/jquery.Jcrop.min.js")"></script>
    <script src="@routes.Assets.versioned("js/PitCropUtils.js")"></script>
    <script src="@routes.Assets.versioned("js/NetworkAdminRealm.js")"></script>
}