@(currentRealm: models.RealmModel, revokeForm : play.data.Form[_])
@import play.i18n._
@import helper._

@commonview.BaseCommonView(currentRealm, header, javascript){
  <div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <h1>@currentRealm.getName()</h1>
      </div>
    </div>
  </div>

  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-2-10 pit-sidebar">
      @realmview.admin.SideBarAdminRealmView("REVOKE.USERS", currentRealm)
      </div>

      <div class="uk-width-medium-8-10 pit-main">

        <h1>@Messages.get("REALM.ADMIN.REVOKE.USERS.TITLE")</h1>
        <div class="uk-grid">
          <div class="uk-width-medium-5-10">
            <div class="pit-wall-item">
              <form class="uk-form uk-form-stacked" action="@controllers.realm.admin.routes.RevokeUsersAdminRealmController.POST_RevokeUser(currentRealm)" method="post" autocomplete="off">
                @CSRF.formField
                <div class="uk-form-row">
                  <label class="uk-form-label" for="form-invite-email">@Messages.get("COMMON.LABEL.EMAIL")</label>
                  <div class="uk-form-controls">
                    <input type="email" name="email" id="form-invite-email"
                           class="uk-width-1-1 @{if(revokeForm != null && revokeForm.error("email") != null) "uk-form-danger" }"
                    placeholder="@Messages.get("REALM.ADMIN.REVOKE.USER.EMAIL.PLACEHOLDER")"
                    value="@if(revokeForm !=null){@revokeForm.field("email").value()}"/>
                  </div>
                  @if(revokeForm != null && revokeForm.error("email") != null) {
                <span class="form-error">
                @Messages.get(revokeForm.error("email").message(), revokeForm.error("email").arguments())
                </span>
                  }
                </div>
                <br/>
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user-times"></i> @Messages.get("REALM.ADMIN.REVOKE.USER.REVOKE.BUTTON")</button>
              </form>
            </div>
          </div>
          <div class="uk-width-medium-5-10">
            <div class="pit-wall-item">
              <form class="uk-form uk-form-stacked" action="@controllers.realm.admin.routes.RevokeUsersAdminRealmController.POST_RevokeUsers(currentRealm)" method="post" enctype="multipart/form-data" autocomplete="off">
                @CSRF.formField
                <div class="uk-form-row">
                  <span class="uk-form-label">@Messages.get("REALM.ADMIN.REVOKE.USERS.CSV.LABEL")</span>
                  @** Custom label to enhanced UI **@
                  <label class="uk-form-label" for="form-invite-csv">
                    <div class="uk-placeholder uk-text-center">
                      <span>@Messages.get("REALM.ADMIN.REVOKE.USERS.SELECT.FILE")</span>
                      <span id="input-file-info-container" class="hidden">
                          <br><br>
                          @Messages.get("REALM.ADMIN.REVOKE.USERS.SELECTED.FILE") : <i class="uk-icon-file-text"></i> <span id="input-file-info-file"></span>
                      </span>
                    </div>
                  </label>
                  <div class="uk-form-controls">
                    <input id="form-invite-csv" type="file" class="hidden input-file" name="csv" accept=".csv"/>
                    @if(revokeForm != null && revokeForm.error("csv") != null) {
                    <span class="form-error">
                    @Messages.get(revokeForm.error("csv").message(), revokeForm.error("csv").arguments())
                    </span>
                    }
                  </div>
                </div>
                <br/>
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-upload"></i> @Messages.get("REALM.ADMIN.REVOKE.USERS.CSV.BUTTON")</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
@header = {
<link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/uikit/css/components/placeholder.min.css")"/>
<link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.css")"/>
}
@javascript = {
<script src="@routes.Assets.versioned("js/helper/custom-input-file.js")"></script>
}