@(active: String, currentRealm: models.RealmModel)
@import play.i18n._

<h6>@Messages.get("REALM.ADMIN.MENU.TITLE.NETWORK")</h6>
<ul class="uk-list pit-list">
    <a href="@controllers.realm.admin.routes.NetworkAdminRealmController.GET_NetworkConfiguration(currentRealm)">
        <li @if(active=="NETWORK.CONFIGURATION"){class="uk-active"}><i class="uk-icon-cog"></i> @Messages.get("REALM.ADMIN.MENU.NETWORK.CONFIGURATION")</li>
    </a>
    <a href="@controllers.realm.admin.routes.RoleAdminRealmController.GET_RolesAdministration(currentRealm)">
        <li @if(active=="NETWORK.ROLE"){class="uk-active"}><i class="uk-icon-unlock-alt"></i> @Messages.get("REALM.ADMIN.MENU.NETWORK.ROLES")</li>
    </a>
</ul>
<h6>@Messages.get("REALM.ADMIN.MENU.TITLE.USERS")</h6>
<ul class="uk-list pit-list">
    <a href="@controllers.realm.admin.routes.InviteUsersAdminRealmController.GET_InviteUsers(currentRealm)">
        <li @if(active=="INVITE.USERS"){class="uk-active"}><i class="uk-icon-user-plus"></i> @Messages.get("REALM.ADMIN.MENU.USERS.INVITE_USERS")</li>
    </a>
    <a href="@controllers.realm.admin.routes.RevokeUsersAdminRealmController.GET_RevokeUsers(currentRealm)">
        <li @if(active=="REVOKE.USERS"){class="uk-active"}><i class="uk-icon-user-times"></i> @Messages.get("REALM.ADMIN.MENU.USERS.REMOVE_USERS")</li>
    </a>
    <a href="#">
        <li><i class="uk-icon-history"></i> @Messages.get("REALM.ADMIN.MENU.USERS.ACCOUNTS_ACTIVITY")</li>
    </a>
    <a href="#">
        <li><i class="uk-icon-stop"></i> @Messages.get("REALM.ADMIN.MENU.USERS.BLOCK_USERS")</li>
    </a>
    <a href="#">
        <li><i class="uk-icon-tasks"></i> @Messages.get("REALM.ADMIN.MENU.USERS.BULK_UPDATE_USERS")</li>
    </a>
</ul>
<h6>@Messages.get("REALM.ADMIN.MENU.TITLE.SOCIAL")</h6>
<ul class="uk-list pit-list">
    <a href="@controllers.realm.admin.routes.ManageRealmGroupController.GET_ManageRealmGroups(currentRealm)">
        <li @if(active=="SOCIAL.GROUP"){class="uk-active"}><i class="uk-icon-group"></i> @Messages.get("REALM.ADMIN.MENU.SOCIAL.MANAGE_GROUPS")</li>
    </a>
    <a href="@controllers.realm.admin.routes.ManageRealmPageController.GET_ManageRealmPages(currentRealm)">
        <li @if(active=="SOCIAL.PAGE"){class="uk-active"}><i class="uk-icon-file"></i> @Messages.get("REALM.ADMIN.MENU.SOCIAL.MANAGE_PAGES")</li>
    </a>
</ul>
<h6>@Messages.get("REALM.ADMIN.MENU.TITLE.CONTENT")</h6>
<ul class="uk-list pit-list">
    <a href="#">
        <li><i class="uk-icon-search"></i> @Messages.get("REALM.ADMIN.MENU.CONTENT.MONITOR_KEYWORDS")</li>
    </a>
    <a href="#">
        <li><i class="uk-icon-database"></i> @Messages.get("REALM.ADMIN.MENU.CONTENT.EXPORT_DATA")</li>
    </a>
</ul>
<h6>@Messages.get("REALM.ADMIN.MENU.TITLE.ANALYTICS")</h6>
<ul class="uk-list pit-list">
    <a href="#">
        <li><i class="uk-icon-line-chart"></i> @Messages.get("REALM.ADMIN.MENU.ANALYTICS.DASHBOARD")</li>
    </a>
</ul>
