@(idCards: List[models.CardModel], cardTypes: List[models.CardTypeModel], addForm: play.data.Form[forms.card.CardAddForm])
@import helper._
@import play.i18n._
@import toolbox.UTCDateTime.getReadableElapsedTime

@*****************************
    REUSABLE BLOCKS
******************************@
@displayError(form: play.data.Form[_], inputName: String) = {
    @if(form != null && form.error(inputName) != null) {
        <p style="color : #F44336 ; margin-top : 0">@Messages.get(form.error(inputName).message(), form.error(inputName).arguments())</p>
    }
}
@resetValue(form: play.data.Form[_], inputName: String) = {
    @if(form != null && form.field(inputName) != null) {
        value="@{
            form.field(inputName).value()
        }"
    }
}

@*****************************
    TEMPLATE
******************************@
@commonview.BaseCommonView(null, null) {
    @cardview.TopBarCardView()
    <div class="uk-container uk-container-center">
        <div class="uk-width-medium-10-10 pit-main">
            <h1>@Messages.get("CARD.PAGE.LIST_TITLE")</h1>
            <div class="uk-grid uk-grid-small">
                @*************************
                    Add a new card
                *************************@
                <div class="uk-width-large-3-10">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("CARD.PAGE.ADD_CARD")</h2>
                        <form class="uk-form uk-form-stacked" id="form-add-card" name="form-add-card" method="POST">

                            @CSRF.formField

                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-card-number">@Messages.get("CARD.PAGE.CARD_NUMBER")</label>
                                    <div class="uk-form-controls">
                                        <input name="cardNumber" type="text" class="uk-width-1-1" id="form-add-card-number" @resetValue(addForm, "cardNumber")
                                        />
                                        @displayError(addForm, "cardNumber")
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-card-type">@Messages.get("CARD.PAGE.CARD_TYPE")</label>
                                    <div class="uk-form-controls">
                                        <select name="cardType.id" class="uk-width-1-1" id="form-add-card-type">
                                        @for(cardType <- cardTypes) {
                                            <option @if(addForm != null && cardType.getId().equals(Long.valueOf(addForm.field("cardType.id").value()))) {selected}
                                            value="@cardType.getId">@cardType.getName </option>
                                        }
                                        </select>
                                        @displayError(addForm, "cardType")
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="uk-button uk-button-primary">@Messages.get("CARD.PAGE.BUTTON.ADD")</button>
                        </form>
                    </div>
                </div>

                @***************************
                    List of saved cards
                ****************************@
                <div class="uk-width-large-7-10">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("CARD.PAGE.SAVED_CARDS")</h2>
                        <div class="uk-grid uk-grid-collapse">
                        @if(idCards != null) {
                            @for(card <- idCards) {
                                <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-3-10 uk-text-truncate">
                                @card.getCardNumber
                                </div>

                                <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-3-10 uk-text-truncate">
                                @card.getCardType().getName
                                </div>

                                <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-3-10 uk-text-truncate">
                                @getReadableElapsedTime(card.getCreateDate())
                                </div>

                                <div class="uk-width-large-1-10 uk-width-medium-1-10 uk-width-1-10 uk-text-nowrap uk-text-right">
                                    <form method="POST" style="display : inline-block ;">
                                        @CSRF.formField
                                        <input type="hidden" name="cardId" value="@card.getId()"/>
                                        <button type="submit" formaction="@controllers.card.routes.AccountCardController.POST_DeleteCard()"
                                            class="uk-button uk-button-mini uk-button-danger"
                                            data-uk-tooltip="{pos:'right'}"
                                            title="@Messages.get("CARD.PAGE.BUTTON.TOOLTIP.DELETE")">
                                                <i class="uk-icon-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            }
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

