@import play.i18n._

<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@Messages.get("CARD.PAGE.TITLE")</h1>
        </div>
    </div>
</div>