@()

<script src="@routes.Assets.versioned("3rd-party/Jcrop/js/jquery.Jcrop.min.js")"></script>
<script src="@routes.Assets.versioned("3rd-party/autogrow/jquery.ns-autogrow.min.js")"></script>
<script>
        $(document).ready(function(){


            var picturesCount = 0;

            $( "#post-add-picture" ).click(function() {

                $('#pictures-holder').append(

                        '<div id="post-picture'  + picturesCount + '-holder" class="uk-form-controls hidden">' +
                        '    <div class="button-group">' +
                        '        <button type="button" class="uk-button uk-button-success hidden file-crop"' +
                        '                id="post-picture'  + picturesCount + '-button-ok" name="post-picture-button-ok">' +
                        '            <i class="uk-icon-check"></i>' + MBSStrings.ok +
                        '        </button>' +
                        '        <button type="button" class="uk-button uk-button-danger hidden file-cancel"' +
                        '                id="post-picture'  + picturesCount + '-button-cancel" name="post-picture-button-cancel">' +
                        '            <i class="uk-icon-close "></i>' + MBSStrings.cancel +
                        '        </button>' +
                        '    </div>' +
                        '    <div id="post-picture'  + picturesCount + '-preview" class="hidden preview"></div>' +
                        '    <input type="file" id="post-picture'  + picturesCount + '-file" name="picture'  + picturesCount + '" class="hidden"' +
                        '           accept="image/x-png, image/gif, image/jpeg" data-select="512,512"/>' +
                        '    <input type="hidden" id="post-picture'  + picturesCount + '-crop" name="picture_crop'  + picturesCount + '"/>' +
                        '    <div id="post-picture'  + picturesCount + '-thumbnail" class="thumbnail">' +
                        '        <img width="0"/>' +
                        '    </div>' +
                        '    <button id="post-picture'  + picturesCount + '-remove" type="button" class="uk-button" title="'+MBSStrings.pictures.delete+'">' +
                        '        <i class="uk-icon uk-icon-trash"></i>' +
                        '    </button>' +
                        '</div>'

                );

                $('#post-picture' + picturesCount + '-remove').click(function() {
                    var name = $(this).attr('id').replace('-remove', '');
                    return $('#'  + name + '-holder').remove();
                });

                $('#post-picture' + picturesCount + '-file').change(function() {
                    var name, reader;
                    name = $(this).attr('id').replace('-file', '');
                    reader = new FileReader;
                    reader.readAsDataURL(this.files[0]);
                    return reader.onload = function(_file) {
                        var img;
                        img = new Image;
                        img.onload = function() {
                            var select;
                            $('#' + name + '-preview').removeClass('hidden').html('<img src="' + this.src + '" width="' + this.width + '" height="' + this.height + '"/>');
                            $('#' + name + '-thumbnail').addClass('hidden');
                            $('#' + name + '-button-ok').removeClass('hidden');
                            $('#' + name + '-button-cancel').removeClass('hidden');
                            $('#' + name + '-holder').removeClass('hidden');

                            select = $('#' + name + '-file').data('select').split(',');
                            return $('#' + name + '-preview img').Jcrop({
                                aspectRatio: select[0] / select[1],
                                setSelect: [0, 0, 100, 100 * (select[0] / select[1])],
                                trueSize: [this.width, this.height],
                                onChange: function(c) {
                                    return $('#' + name + '-crop').val(JSON.stringify(c));
                                },
                                onSelect: function(c) {
                                    return $('#' + name + '-crop').val(JSON.stringify(c));
                                }
                            });
                        };
                        return img.src = _file.target.result;
                    };
                });

                $('button.file-cancel').click(function() {
                    var name = $(this).attr('id').replace('-button-cancel', '');
                    return $('#'  + name + '-holder').remove();
                });

                $('button.file-crop').click(function() {

                    $("#pictures-count").val( picturesCount );

                    var coord, img, name, select, thumb;
                    name = $(this).attr('id').replace('-button-ok', '');
                    coord = JSON.parse($('#' + name + '-crop').val());
                    select = $('#' + name + '-file').data('select').split(',');
                    thumb = {
                        w: $('#' + name + '-thumbnail').width(),
                        h: $('#' + name + '-thumbnail').height()
                    };
                    img = {
                        w: parseInt($('#' + name + '-preview img').attr('width'), 10),
                        h: parseInt($('#' + name + '-preview img').attr('height'), 10)
                    };
                    $('#' + name + '-thumbnail img').attr('src', $('#' + name + '-preview img').attr('src')).css({
                        width: Math.ceil(img.w / coord.w * thumb.w),
                        height: Math.ceil(img.h / coord.h * thumb.h),
                        marginLeft: -1 * Math.ceil(coord.x / coord.w * thumb.w),
                        marginTop: -1 * Math.ceil(coord.y / coord.h * thumb.h)
                    });
                    $('#' + name + '-thumbnail').removeClass('hidden');
                    $('#' + name + '-preview').addClass('hidden').html('');
                    $('#' + name + '-button-ok').addClass('hidden');
                    return $('#' + name + '-button-cancel').addClass('hidden');
                });

                var $target = $('#post-picture'  + picturesCount + '-file');

                picturesCount++;

                return $target.trigger("click");


            });
        });
</script>