@(errorMessage: String)

@import helper._
@import play.i18n._
@import toolbox.helper.SessionHelper

<div class="pit-posts-publish">
    <form class="uk-form" autocomplete="off" method="POST" id="form-posts-publish"
    enctype="multipart/form-data" name="form-posts-publish">

        @CSRF.formField

        <div class="pit-posts-publish-content">
            <fieldset data-uk-margin>
                @if(SessionHelper.getAccount().getAvatarUrlAsString() != null) {
                    <img class="avatar-img" src="@SessionHelper.getAccount().getAvatarUrlAsString()"/>
                }
                <textarea id="pit-posts-publish-textarea" name="postText"
                placeholder="@Messages.get("WALL.PLACEHOLDER.WHATS_ON_YOUR_MIND")"></textarea>
            </fieldset>

            <input id="pictures-count" name="picturesCount" type="hidden" value="0"/>
            <div id="pictures-holder" class="uk-form-row form-row-hide-over"></div>
            @if(errorMessage != null) {
                <span class="form-error">
                @Messages.get(errorMessage)
                </span>
            }
        </div>
        <div class="pit-posts-publish-footer uk-text-right">
            <div class="uk-clearfix">
                <div class="uk-float-right">
                    <button type="submit" class="uk-button uk-button-primary">@Messages.get("WALL.BUTTON.PUBLISH")</button>
                </div>
                <div class="uk-float-left">
                    <button type="button" class="uk-button" title="@Messages.get("WALL.TOOLTIP.ADD_PICTURE")"
                    id="post-add-picture" data-uk-tooltip="{pos:'top-left'}"><i class="uk-icon-photo"></i>
                    </button>

                    <button type="button" class="uk-button" title="@Messages.get("WALL.TOOLTIP.ADD_VIDEO")"
                    data-uk-tooltip="{pos:'top-left'}"><i class="uk-icon-film"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>