
@(post: models.PostModel, realm: models.RealmModel, isPostsDeletionEnabled: java.lang.Boolean)

@import helper._
@import play.i18n._
@import toolbox.helper.SessionHelper


<div class="pit-wall-item" data-post-id="@post.getId">
    <div class="pit-wall-item-header">
        @if(post.getAuthor().getAvatarUrlAsString() != null) {
            <img src="@post.getAuthor().getAvatarUrlAsString()"/>
        }
        <div class="pit-wall-item-header-author">
            <h8><a href="#">@post.getAuthor().getFullName()</a></h8>
            <p>@post.getReadableElapsedTime()</p>
        </div>
    </div>

    <div class="pit-wall-item-content">@post.getText()</div>

    @for(picture <- post.getPictures()){
        <div class="pit-wall-item-media">
            <img src="@picture.getUrlAsString()"/>
        </div>
    }
    <div class="pit-wall-item-footer uk-clearfix">

        <div class="uk-float-right post-comment-controls">
            <a class="comments-button" title="@Messages.get("WALL.TOOLTIP.COMMENTS")" data-uk-tooltip="{pos:'top-left'}">
            <i class="uk-icon-comments"></i>
                <span class="comment-count-holder">@post.countComments()</span>
            </a>
        </div>
        <div class="uk-float-left post-like-controls" data-post-id="@post.getId" data-post-like="@SessionHelper.isPostLiked(post)" data-post-dislike="@SessionHelper.isPostDisliked(post)" >
            <a class="like-button @if(SessionHelper.isPostLiked(post)) {voted}" title="@Messages.get("WALL.TOOLTIP.UP_VOTE")" data-uk-tooltip="{pos:'top-left'}">
                <i class="uk-icon-thumbs-up"></i>
                <span class="number-holder">@post.getLikes</span>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="dislike-button @if(SessionHelper.isPostDisliked(post)) {voted}"  title="@Messages.get("WALL.TOOLTIP.DOWN_VOTE")" data-uk-tooltip="{pos:'top-left'}">
                <i class="uk-icon-thumbs-down"></i>
                <span class="number-holder">@post.getDislikes</span>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            @if(isPostsDeletionEnabled) {
            <div id="delete-confirm@post.getId" class="uk-modal">
                <div class="uk-modal-dialog">
                    <button type="button" class="uk-modal-close uk-close"></button>
                    <div class="uk-modal-header">
                        <h2>@Messages.get("REALM.GROUP.POSTS.BOARD.DELETE.POST")</h2>
                    </div>
                    <p>@Messages.get("REALM.GROUP.POSTS.BOARD.DELETE.POST.CONFIRM")</p>
                    <div class="uk-modal-footer uk-text-right ">
                        <button type="button" class="uk-button uk-modal-close">@Messages.get("FORM.BUTTON.CANCEL")</button>
                        <button type="button" class="uk-button uk-button-primary delete-button">@Messages.get("FORM.BUTTON.OK")</button>
                    </div>
                </div>
            </div>
            <button type="button" class="uk-button" title="@Messages.get("REALM.GROUP.POSTS.BOARD.DELETE.POST")"
                data-uk-modal="{target:'#delete-confirm@post.getId'}"
                data-uk-tooltip="{pos:'top-left'}"><i class="uk-icon-remove"></i>
                @Messages.get("REALM.GROUP.POSTS.BOARD.DELETE.POST")
            </button>
            }
        </div>
    </div>
    <div class="comments-container" data-comments-show="false">
        @defining(SessionHelper.getAccount().isGrantedTo(realm) || post.canDeleteAllComments(SessionHelper.getAccount)) { canDeleteAllComments =>
            <ul class="comments-wall" data-comments-can-delete="@canDeleteAllComments">

            </ul>
        }
        <div class="comment-form pit-posts-publish" style="display: none;">
            <form class="uk-form" autocomplete="off" method="POST" id="form-posts-publish"
            enctype="multipart/form-data" name="form-posts-publish">
                @CSRF.formField
            <div class="pit-posts-publish-content">
                <fieldset data-uk-margin>
                    @if(SessionHelper.getAccount().getAvatarUrlAsString() != null) {
                        <img class="avatar-img" src="@SessionHelper.getAccount().getAvatarUrlAsString()"/>
                    }
                <textarea class="pit-comment-publish-textarea" name="postText"
                    placeholder="@Messages.get("WALL.PLACEHOLDER.ADD_COMMENT")"></textarea>
                </fieldset>

                <input class="pictures-count" name="picturesCount" type="hidden" value="0"/>
                <div class="uk-form-row form-row-hide-over pictures-holder"></div>
            </div>
            <div class="pit-posts-publish-footer uk-text-right">
                <div class="uk-clearfix">
                    <div class="uk-float-right">
                        <button type="button" class="uk-button uk-button-primary add-comment-button">@Messages.get("WALL.BUTTON.PUBLISH")</button>
                    </div>
                    <div class="uk-float-left">
                        <button type="button"
                        class="uk-button comment-add-picture"
                        title="@Messages.get("WALL.TOOLTIP.ADD_PICTURE")"
                        data-uk-tooltip="{pos:'top-left'}">
                            <i class="uk-icon-photo"></i>
                        </button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>