@import forms.realm.admin.RolesAdminRealmForm
@import forms.realm.admin.RolesAdminRealmForm.RolesFormData
@(currentRealm: models.RealmModel, currentPage: models.RealmPageModel, pageForm : toolbox.form.ExtendedForm[forms.realm.admin.ManageRealmPageForm, models.RealmPageModel], pageRolesForm: play.data.Form[forms.realm.admin.RolesAdminRealmForm], rolesFormData: RolesFormData[models.RoleRealmPageModel])
@import play.i18n._
@import helper._

@*****************************
REUSABLE BLOCKS
******************************@
@displayError(f: toolbox.form.ExtendedForm[_,_], input: String) = {
@if(f != null && f.error(input) != null) {
<span class="form-error">@Messages.get(f.error(input).message(), f.error(input).arguments())</span><br>
}
}
@setValue(f: toolbox.form.ExtendedForm[_,_], input: String, default: String = "") = {
@if(f != null && f.field(input) != null){
value="@{f.field(input).value()}"
}else{
value="@default"
}
}

@commonview.BaseCommonView(currentRealm, header, javascript){

<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.admin.SideBarAdminRealmView("SOCIAL.PAGE", currentRealm)
        </div>

        <div class="uk-width-medium-8-10 pit-main">

            <h1>@Messages.get("REALM.ADMIN.PAGE.TITLE")</h1>
            <div class="uk-grid">
                @if(!currentRealm.getPages().isEmpty()){
                <div class="uk-width-medium-3-10">
                    <div class="pit-wall-item">
                        <h5 class="uk-text-center">@Messages.get("REALM.ADMIN.PAGE.HEADER.LIST")</h5>
                        <div>
                            <ul class="uk-list pit-list pit-list-item">
                                @for(page <- currentRealm.getPages()){
                                <a href="@controllers.realm.admin.routes.ManageRealmPageController.GET_RealmPage(currentRealm, page)">
                                    <li>
                                        <div class="uk-grid" style="margin-left: 0;">
                                            <div class="uk-width-1-3 uk-text-center uk-text-middle" style="padding-left: 0;">
                                                <image src="@if(page.getLogo() != null){@page.getLogo().getUrlAsString()}else{@routes.Assets.versioned("img/default-group.png")}"/>
                                            </div>
                                            <div class="uk-width-2-3" style="padding-left: 0;">
                                                <h8 class="uk-text-justify">@page.getName()</h8>
                                            </div>
                                        </div>
                                    </li>
                                </a>
                                }
                                <a href="@controllers.realm.admin.routes.ManageRealmPageController.POST_CreateRealmPage(currentRealm)">
                                    <li>
                                        <div class="uk-grid" style="margin-left: 0;">
                                            <div class="uk-width-1-3 uk-text-center uk-text-middle" style="padding-left: 0;">
                                                <i class="uk-icon-plus-circle uk-icon-medium"></i>
                                            </div>
                                            <div class="uk-width-2-3" style="padding-left: 0;">
                                                <h8 class="uk-text-justify uk-text-middle">@Messages.get("REALM.ADMIN.PAGE.CREATE.NEW.PAGE")</h8>
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                }

                <div class="@if(!currentRealm.getPages.isEmpty){uk-width-medium-7-10}else{uk-width-medium-10-10}">
                    <div class="pit-wall-item">
                        <form class="uk-form uk-form-stacked" id="form-manage-page" name="form-manage-page" method="POST" enctype="multipart/form-data" autocomplete="off">
                            @CSRF.formField
                            <h5 style="margin-top:0;">@Messages.get("REALM.ADMIN.PAGE.BASE.INFO.HEADER")</h5>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-realm-group-name">@Messages.get("REALM.ADMIN.PAGE.NAME.LABEL")</label>
                                    <div class="uk-form-controls">
                                        <input name="name" type="text" id="form-realm-group-name" class="uk-width-1-1" @setValue(pageForm, "name", if(currentPage != null) currentPage.getName else "")>
                                    </div>
                                    @displayError(pageForm, "name")
                                </div>

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-realm-group-url">@Messages.get("REALM.ADMIN.PAGE.SLUG.LABEL")</label>
                                    <div class="uk-form-controls">
                                        <input name="slug" type="text" id="form-realm-group-url" class="uk-width-1-1 slug-input" @setValue(pageForm, "slug", if(currentPage != null) currentPage.getSlug else "")>
                                    </div>
                                    @displayError(pageForm, "slug")
                                    <span>@realm.routes.HomeRealmController.GET_HomePage(currentRealm).absoluteURL()/page/<i><strong class="slug-placeholder"></strong></i></span>
                                    <div class="realm-note">
                                        <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                        @Messages.get("REALM.ADMIN.NETWORK.SLUG.DESCRIPTION")
                                    </div>
                                </div>
                            </div>

                            <h5>@Messages.get("REALM.ADMIN.PAGE.ABOUT.PAGE.HEADER")</h5>
                            <div>
                                <div class="uk-form-row form-row-hide-over">
                                    <label class="uk-form-label" for="realm-group-logo-file">@Messages.get("REALM.ADMIN.PAGE.LOGO.LABEL")</label>

                                    <div class="uk-form-controls">
                                        <div class="button-group">
                                            <button type="button" class="uk-button file-upload" id="realm-group-logo-button-browse" name="realm-group-logo-button-browse">
                                                <i class="uk-icon-image"></i>
                                                @Messages.get("REALM.ADMIN.PAGE.BTN.SELECT.IMG")
                                            </button>
                                            <button type="button" class="uk-button uk-button-success hidden file-crop" id="realm-group-logo-button-ok" name="realm-group-logo-button-ok">
                                                <i class="uk-icon-check"></i>
                                                @Messages.get("FORM.BUTTON.OK")
                                            </button>
                                            <button type="button" class="uk-button uk-button-danger hidden file-cancel" id="realm-group-logo-button-cancel" name="realm-group-logo-button-cancel">
                                                <i class="uk-icon-close "></i> @Messages.get("FORM.BUTTON.CANCEL")
                                            </button>
                                        </div>

                                        <div id="realm-group-logo-preview" class="hidden preview"></div>
                                        <input type="file" id="realm-group-logo-file" name="logo" class="hidden" accept="image/x-png, image/gif, image/jpeg" data-select="512,512"/>
                                        <input type="hidden" id="realm-group-logo-crop" name="logo_crop"/>

                                        <div id="realm-group-logo-thumbnail" class="thumbnail logo-thumbnail">
                                            @if(currentPage != null && currentPage.getLogo != null) {
                                            <img src="@currentPage.getLogo.getUrlAsString"/>
                                            } else {
                                            <img src="@routes.Assets.versioned("img/default-page.png")"/>
                                            }
                                        </div>
                                    </div>
                                    <br/>
                                    @displayError(pageForm, "logo")
                                    <div class="realm-note">
                                        <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                        @Messages.get("REALM.ADMIN.PAGE.WARNING.LOGO")
                                    </div>
                                </div>

                                <div class="uk-form-row form-row-hide-over">
                                    <label class="uk-form-label" for="realm-group-banner-file">
                                        @Messages.get("REALM.ADMIN.PAGE.BANNER.LABEL")
                                    </label>
                                    <div class="uk-form-controls">
                                        <div class="button-group">
                                            <button type="button" class="uk-button file-upload" id="realm-group-banner-button-browse" name="realm-group-banner-button">
                                                <i class="uk-icon-image"></i>
                                                @Messages.get("REALM.ADMIN.PAGE.BTN.SELECT.IMG")
                                            </button>
                                            <button type="button" class="uk-button uk-button-success hidden file-crop" id="realm-group-banner-button-ok" name="realm-group-banner-button-ok">
                                                <i class="uk-icon-check"></i>
                                                @Messages.get("FORM.BUTTON.OK")
                                            </button>
                                            <button type="button" class="uk-button uk-button-danger hidden file-cancel" id="realm-group-banner-button-cancel" name="realm-group-banner-button-cancel">
                                                <i class="uk-icon-close"></i>
                                                @Messages.get("FORM.BUTTON.CANCEL")
                                            </button>
                                        </div>
                                        <div id="realm-group-banner-preview" class="hidden preview"></div>
                                        <input type="file" id="realm-group-banner-file" name="banner" class="hidden" accept="image/x-png, image/gif, image/jpeg" data-select="1200,250"/>
                                        <input type="hidden" id="realm-group-banner-crop" name="banner_crop"/>

                                        <div id="realm-group-banner-thumbnail" class="thumbnail banner-thumbnail">
                                            <img src="@if(currentPage != null && currentPage.getBanner != null){@currentPage.getBanner.getUrlAsString()}else{@routes.Assets.versioned("img/default-realm-banner.png")}"/>
                                        </div>
                                        <br/>
                                        @displayError(pageForm, "banner")
                                        <div class="realm-note">
                                            <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
                                            @Messages.get("REALM.ADMIN.PAGE.WARNING.BANNER")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if(pageRolesForm != null){
                                <h5>@Messages.get("REALM.ADMIN.ROLES.TITLE")</h5>
                                @realmview.admin.component.RolesCommonForm(pageRolesForm, false, rolesFormData)
                            }
                            <br/><br/>
                            @if(currentPage == null){
                            <button type="submit" class="uk-button uk-button-primary" formaction="@controllers.realm.admin.routes.ManageRealmPageController.POST_CreateRealmPage(currentRealm)">
                                <i class="uk-icon-save"></i>
                                @Messages.get("FORM.BUTTON.ADD")
                            </button>
                            }else{
                            <button type="submit" class="uk-button uk-button-primary" formaction="@controllers.realm.admin.routes.ManageRealmPageController.POST_EditRealmPage(currentRealm, currentPage)">
                                <i class="uk-icon-save"></i>
                                @Messages.get("FORM.BUTTON.SAVE")
                            </button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.css")"/>
}
@javascript = {
    <script src="@routes.Assets.versioned("js/helper/slugifier.js")"></script>
    <script src="@routes.Assets.versioned("3rd-party/Jcrop/js/jquery.Jcrop.min.js")"></script>
    <script src="@routes.Assets.versioned("js/PitCropUtils.js")"></script>

    <script src="@routes.Assets.versioned("js/RolesAdminRealm.js")"></script>
    <script>
            UIkit.modal.labels = {
                Ok: "@Messages.get("FORM.BUTTON.OK")",
                Cancel: "@Messages.get("FORM.BUTTON.CANCEL")"
            }
    </script>
}