@(post: models.PostModel, comments: List[models.CommentModel])

<ul>
    @for(comment <- comments) {
        @components.comment.CommentView(comment)
    }
</ul>
<form class="add-comment-form">
    <input type="hidden" name="postId" value="@post.getId">

</form>