@(savedAddresses : List[models.AccountPostalAddressModel], addAddressForm : play.data.Form[forms.account.AccountAddAddressForm])
@import play.i18n._
@import helper._
@import toolbox.enumeration.CountryCode

@*****************************
        REUSABLE BLOCKS
******************************@
@displayError(form : play.data.Form[_], inputName: String) = {
    @if(form != null && form.error(inputName) != null) {
        <p style="color:#F44336;margin-top:0">@Messages.get(form.error(inputName).message(), form.error(inputName).arguments())</p>
    }
}
@resetValue(form : play.data.Form[_], inputName: String) = {
    @if(form != null && form.field(inputName) != null){
        value="@{form.field(inputName).value()}"
    }
}

@*****************************
        Template
******************************@
@commonview.BaseCommonView(){
@accountview.TopBarAccountView()
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @accountview.SideBarAccountView("addresses")
        </div>
        <div class="uk-width-medium-8-10 pit-main">
            <h1>@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.TITLE")</h1>
            <div class="uk-grid uk-grid-small">

                @******* List saved addresses *******@
                <div class="uk-width-large-1-2">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.SAVED_ADDRESSES")</h2>
                        <div class="uk-grid uk-grid-collapse">
                        @if(savedAddresses != null){
                            @for(address <- savedAddresses){
                                <div class="uk-width-large-8-10 uk-width-medium-9-10 uk-width-8-10 uk-text-truncate">
                                    @address.getLabel() @if(address.isPrimary()){<i class="uk-icon-star" data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.PRIMARY")"></i>}
                                </div>
                                <div class="uk-width-large-2-10 uk-width-medium-1-10 uk-width-2-10 uk-text-nowrap uk-text-right">
                                @if(!address.isPrimary()){
                                    <form method="POST" style="display: inline-block;">
                                        @CSRF.formField
                                        <input type="hidden" name="addressUid" value="@address.getUidAsString()"/>
                                        <button type="submit" formaction="@controllers.account.routes.AccountAddressesController.POST_ChangePrimaryAccountAddress()" class="uk-button uk-button-mini" data-uk-tooltip="{pos:'left'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.SET.PRIMARY")"><i class="uk-icon-star"></i></button>
                                        <button type="submit" formaction="@controllers.account.routes.AccountAddressesController.POST_DeleteAccountAddress()" class="uk-button uk-button-mini uk-button-danger"  data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.DELETE")"><i class="uk-icon-trash"></i></button>
                                    </form>
                                }
                                </div>
                            }
                        }
                        </div>
                    </div>
                </div>

                @******* Add a new address *******@
                <div class="uk-width-large-1-2">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.ADD_ADDRESS")</h2>
                        <form class="uk-form uk-form-stacked" id="form-add-address" name="form-add-address" method="POST">

                            @CSRF.formField

                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-address-dest-name">@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.ADD.DEST_NAME")</label>
                                    <div class="uk-form-controls">
                                        <input name="destName" type="text" class="uk-width-1-1" id="form-add-address-dest-name" @resetValue(addAddressForm,"destName")/>
                                        @displayError(addAddressForm,"destName")
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-address-address-1">@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.ADD.STREET1")</label>
                                    <div class="uk-form-controls">
                                        <input name="street1" type="text" class="uk-width-1-1" id="form-add-address-address-1" @resetValue(addAddressForm,"street1")/>
                                        @displayError(addAddressForm,"street1")
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-address-address-2">@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.ADD.STREET2")</label>
                                    <div class="uk-form-controls">
                                        <input name="street2" type="text" class="uk-width-1-1" id="form-add-address-address-2" @resetValue(addAddressForm,"street2")/>
                                        @displayError(addAddressForm,"street2")
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-address-zipcode">@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.ADD.ZIPCODE")</label>
                                    <div class="uk-form-controls">
                                        <input name="zipcode" type="text" class="uk-width-1-1" id="form-add-address-zipcode" @resetValue(addAddressForm,"zipcode")/>
                                        @displayError(addAddressForm,"zipcode")
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-address-city">@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.ADD.CITY")</label>
                                    <div class="uk-form-controls">
                                        <input name="city" type="text" class="uk-width-1-1" id="form-add-address-city" @resetValue(addAddressForm,"city")/>
                                        @displayError(addAddressForm,"city")
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-address-country">@Messages.get("ACCOUNT_SETTINGS.ADDRESSES.ADD.COUNTRY")</label>
                                    <div class="uk-form-controls">
                                        <select name="country" class="uk-width-1-1" id="form-add-address-country">
                                            @for(cc <- CountryCode.values()) {
                                            <option value="@cc" @if(addAddressForm !=null && cc.toString().equals(addAddressForm.field("country").value())){selected}>@cc.getEnglishCountryName() - @cc.getCountryName()</option>
                                            }
                                        </select>
                                        @displayError(addAddressForm,"country")
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="uk-button uk-button-primary">@Messages.get("ACCOUNT_SETTINGS.BUTTON.ADD")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}