@(account : models.AccountModel, sform : play.data.Form[_])
@import play.i18n._
@import helper._
@import toolbox.PhoneUtils

@*****************************
REUSABLE BLOCKS
******************************@
@displayError(f : play.data.Form[_], iname: String) = {
    @if(f != null && f.error(iname) != null) {
        <p style="color:#F44336;margin-top:0">@Messages.get(f.error(iname).message(), f.error(iname).arguments())</p>
    }
}
@resetValue(f : play.data.Form[_], iname: String) = {
    @if(f != null && f.field(iname) != null){
        value="@{f.field(iname).value()}"
    }
}

@showEmailDetails(email : models.AccountEmailModel) = {
    @if(!email.isValidated()){
        <form method="post" action="@controllers.account.routes.AccountContactController.POST_ValidEmailAccountContact()" style="display: inline-block;">
            @CSRF.formField
            <input type="hidden" name="email" value="@email.getEmail"/>
            <button type="submit" class="uk-button uk-button-mini uk-button-link" data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.NOT.VALIDATED")"><i class="uk-icon-warning" style="color: orange;"></i></button>
        </form>
    }
    @if(email.isPrimary()){
        <i class="uk-icon-star" data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.PRIMARY")"></i>
    }
}

@showPhoneDetails(phone : models.AccountPhoneModel) = {
    @if(!phone.isValidated()){
        <form method="post" action="@controllers.account.routes.AccountContactController.POST_ValidPhoneAccountContact()" style="display: inline-block;">
            @CSRF.formField
            <input type="hidden" name="phone" value="@phone.getPhone"/>
            <button type="submit" class="uk-button uk-button-mini uk-button-link" data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.NOT.VALIDATED")"><i class="uk-icon-warning" style="color: orange;"></i></button>
        </form>
    }
    @if(phone.isPrimary()){
        <i class="uk-icon-star" data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.PRIMARY")"></i>
    }
}

@showTokenModal() = {
    @if(!flash.isEmpty()){
    @defining(flash.get("c-flash-valid-token")){ contact =>
        @if(contact != null){
        <div class="uk-modal" id="token-modal">
            <form method="post" action="@controllers.account.routes.AccountContactController.POST_ValidContactTokenAccountContact()">
                @CSRF.formField
                <input type="hidden" name="contact" value="@contact"/>
                <div class="uk-modal-dialog">
                    <a class="uk-modal-close uk-close"></a>
                    <div class="uk-modal-header uk-text-large">@Messages.get("ACCOUNT_SETTINGS.CONTACT.VALIDATE.MODAL.TITLE")</div>
                    <p class="uk-text-justify">@Html(Messages.get("ACCOUNT_SETTINGS.CONTACT.VALIDATE.MODAL.CONTENT", contact))</p>
                    <div class="uk-form uk-form-stacked">
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-add-email-1">@Messages.get("ACCOUNT_SETTINGS.CONTACT.VALIDATE.INPUT.LABEL")</label>
                            <div class="uk-form-controls uk-form-icon uk-width-1-1">
                                <i class="uk-icon-unlock-alt"></i>
                                <input type="text" class="uk-width-1-1" id="form-confirm-contact-token" name="token" placeholder="@Messages.get("ACCOUNT_SETTINGS.CONTACT.VALIDATE.INPUT.PLACEHOLDER")">
                            </div>
                        </div>
                    </div>
                    <div class="uk-modal-footer"><button type="submit" class="uk-button uk-button-primary">@Messages.get("FORM.BUTTON.OK")</button></div>
                </div>
            </form>
        </div>
        }
    }
    }
}

@*****************************
Template
******************************@
@commonview.BaseCommonView(null, header, js){
@accountview.TopBarAccountView()
@showTokenModal()
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @accountview.SideBarAccountView("contact")
        </div>
        <div class="uk-width-medium-8-10 pit-main">
            <h1>@Messages.get("ACCOUNT_SETTINGS.CONTACT.TITLE")</h1>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-large-1-2">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("ACCOUNT_SETTINGS.CONTACT.EMAIL.TITLE")</h2>
                        <div class="uk-grid uk-grid-collapse">
                            @if(account != null){
                                @for(email <- account.getEmails()){
                                <div class="uk-width-large-8-10 uk-width-medium-9-10 uk-width-8-10 uk-text-truncate">
                                    @email.getEmail() @showEmailDetails(email)
                                </div>
                                <div class="uk-width-large-2-10 uk-width-medium-1-10 uk-width-2-10 uk-text-nowrap uk-text-right">
                                    @if(!email.isPrimary()){
                                    <form method="POST" style="display: inline-block;">
                                        @CSRF.formField
                                        <input type="hidden" name="email" value="@email.getEmail()"/>
                                        @if(email.isValidated()){
                                            <button type="submit" formaction="@controllers.account.routes.AccountContactController.POST_ChangePrimaryEmailAccountContact()" class="uk-button uk-button-mini" data-uk-tooltip="{pos:'left'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.SET.PRIMARY")"><i class="uk-icon-star"></i></button>
                                        }
                                        <button type="submit" formaction="@controllers.account.routes.AccountContactController.POST_DeleteEmailAccountContact()" class="uk-button uk-button-mini uk-button-danger"  data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.DELETE")"><i class="uk-icon-trash"></i></button>
                                    </form>
                                    }
                                </div>
                                }
                            }
                        </div>
                        <br/>
                        <form class="uk-form uk-form-stacked" id="form-add-email" name="form-add-email" method="POST" action="@controllers.account.routes.AccountContactController.POST_AddEmailAccountContact()" autocomplete="off">
                            @CSRF.formField
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-add-email-1">@Messages.get("ACCOUNT_SETTINGS.CONTACT.LABEL.EMAIL")</label>
                                    <div class="uk-form-controls">
                                        <input type="email" class="uk-width-1-1" id="form-add-email-1" name="email" placeholder="@Messages.get("ACCOUNT_SETTINGS.CONTACT.PLACEHOLDER.EMAIL")" @resetValue(sform, "email")>
                                        @displayError(sform,"email")
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="uk-button uk-button-primary">@Messages.get("ACCOUNT_SETTINGS.BUTTON.ADD")</button>
                        </form>
                    </div>
                </div>

                <div class="uk-width-large-1-2">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("ACCOUNT_SETTINGS.CONTACT.PHONE.TITLE")</h2>
                        <div class="uk-grid uk-grid-collapse">
                            @if(account != null){
                                @for(phone <- account.getPhones()){
                                <div class="uk-width-large-8-10 uk-width-medium-9-10 uk-width-8-10 uk-text-truncate">
                                    @PhoneUtils.convertPhoneNumberNational(phone.getPhone(), phone.getCountryCode()) @showPhoneDetails(phone)
                                </div>
                                <div class="uk-width-large-2-10 uk-width-medium-1-10 uk-width-2-10 uk-text-nowrap uk-text-right">
                                    @if(!phone.isPrimary()){
                                    <form method="POST" style="display: inline-block;">
                                        @CSRF.formField
                                        <input type="hidden" name="phone" value="@phone.getPhone()"/>
                                        @if(phone.isValidated){
                                        <button type="submit" formaction="@controllers.account.routes.AccountContactController.POST_ChangePrimaryPhoneAccountContact()" class="uk-button uk-button-mini" data-uk-tooltip="{pos:'left'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.SET.PRIMARY")"><i class="uk-icon-star"></i></button>
                                        }
                                        <button type="submit" formaction="@controllers.account.routes.AccountContactController.POST_DeletePhoneAccountContact()" class="uk-button uk-button-mini uk-button-danger"  data-uk-tooltip="{pos:'right'}" title="@Messages.get("ACCOUNT_SETTINGS.TOOLTIP.DELETE")"><i class="uk-icon-trash"></i></button>
                                    </form>
                                    }
                                </div>
                                }
                            }
                        </div>
                        <br/>
                        <form class="uk-form uk-form-stacked" id="form-add-phone" name="form-add-phone" method="POST" action="@controllers.account.routes.AccountContactController.POST_AddPhoneAccountContact()">
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="phone-number">@Messages.get("ACCOUNT_SETTINGS.CONTACT.LABEL.PHONE")</label>
                                    <div class="uk-form-controls">
                                        @CSRF.formField
                                        <input class="uk-width-1-1" type="tel" id="phone-number" style="width: 100%;">
                                        <input type="hidden" id="hidden-phone" name="phone"/>
                                        <input type="hidden" id="hidden-country" name="country"/>
                                        @displayError(sform,"phone")
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="uk-button uk-button-primary">@Messages.get("ACCOUNT_SETTINGS.BUTTON.ADD")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/intl-tel-input/css/intlTelInput.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/intl-tel-input/css/custom-intltel.css")">
}

@js = {
    <script src="@routes.Assets.versioned("3rd-party/intl-tel-input/js/intlTelInput.min.js")"></script>
    <script>
      $("#phone-number").intlTelInput({
          defaultCountry: "auto",
          geoIpLookup: function(callback) {
            $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
              var countryCode = (resp && resp.country) ? resp.country : "";
              callback(countryCode);
            });
          },
          preferredCountries: ["fr", "be", "gb"],
          onlyCountries: ["al", "ad", "at", "by", "be", "ba", "bg", "hr", "cz", "dk",
            "ee", "fo", "fi", "fr", "de", "gi", "gr", "va", "hu", "is", "ie", "it", "lv",
            "li", "lt", "lu", "mk", "mt", "md", "mc", "me", "nl", "no", "pl", "pt", "ro",
            "ru", "sm", "rs", "sk", "si", "es", "se", "ch", "ua", "gb"],
          utilsScript: "@routes.Assets.versioned("3rd-party/intl-tel-input/js/utils.js")"
      });
      @if(sform != null && sform.field("phone") != null){
        $("#phone-number").intlTelInput("setNumber", "@{sform.field("phone").value()}");
      }
      $("#form-add-phone").submit(function() {
        $("#hidden-phone").val($("#phone-number").intlTelInput("getNumber"));
        $("#hidden-country").val($("#phone-number").intlTelInput("getSelectedCountryData").iso2);
      });
    </script>
    <script>
        if(UIkit.modal('#token-modal') != null){
            UIkit.modal('#token-modal').show();
        }
    </script>
}