@()
@import play.i18n._

@commonview.BaseCommonView(){
@accountview.TopBarAccountView()
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @accountview.SideBarAccountView("notification")
        </div>
        <div class="uk-width-medium-8-10 pit-main">
            <h1>@Messages.get("ACCOUNT_SETTINGS.NOTIFICATION.TITLE")</h1>

        </div>
    </div>
</div>
}