@(preferenceForm : play.data.Form[forms.account.AccountPreferencesForm])
@import play.i18n._
@import helper._
@import forms.account.AccountPreferencesForm

@commonview.BaseCommonView(null, null, js){
@accountview.TopBarAccountView()
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @accountview.SideBarAccountView("preferences")
        </div>
        <div class="uk-width-medium-8-10 pit-main">
            <h1>@Messages.get("ACCOUNT_SETTINGS.PREFERENCES.TITLE")</h1>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-large-1-1">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("ACCOUNT_SETTINGS.PREFERENCES.FORM.REGION_INFO")</h2>
                        <form class="uk-form uk-form-stacked" id="form-base-info" name="form-base-info" method="POST" autocomplete="off"
                              action="@controllers.account.routes.AccountPreferencesController.POST_AccountPreferences()">
                            @CSRF.formField
                            <ul class="uk-grid uk-grid-small" data-uk-grid-margin>
                                <li class="uk-width-large-1-3 uk-width-medium-1-2 uk-width-1-1">
                                    <label class="uk-form-label" for="form-base-3">@Messages.get("ACCOUNT_SETTINGS.PREFERENCES.FORM.BASE_INFO.TIMEZONE")</label>
                                    <div class="uk-form-controls">
                                        <select class="uk-width-1-1" id="form-base-3" name="timezone">
                                            @for(tz <- AccountPreferencesForm.TimezoneChoices.values()) {
                                            <option value="@tz" @if(tz.toString().equals(preferenceForm.field("timezone").value())){selected}>@tz.getTzName()</option>
                                            }
                                        </select>
                                        @if(preferenceForm != null && preferenceForm.error("timezone") != null) {
                                        <p style="color:#F44336;margin-top:0">@Messages.get(preferenceForm.error("timezone").message(), preferenceForm.error("timezone").arguments())</p>
                                        }
                                    </div>
                                </li>
                                <li class="uk-width-large-1-3 uk-width-medium-1-2 uk-width-1-1">
                                    <label class="uk-form-label" for="form-base-4">@Messages.get("ACCOUNT_SETTINGS.PREFERENCES.FORM.BASE_INFO.LANGUAGE")</label>
                                    <div class="uk-form-controls">
                                        <select class="uk-width-1-1" id="form-base-4" name="lang">
                                            @for(lang <- play.Play.application().configuration().getStringList("play.i18n.langs")){
                                            <option value="@lang" @if(lang.equals(preferenceForm.field("lang").value())){selected}>@Messages.get("LANG." + lang)</option>
                                            }
                                        </select>
                                        @if(preferenceForm != null && preferenceForm.error("lang") != null) {
                                        <p style="color:#F44336;margin-top:0">@Messages.get(preferenceForm.error("lang").message(), preferenceForm.error("lang").arguments())</p>
                                        }
                                    </div>
                                </li>
                            </ul>
                            <br/>
                            <div class="uk-width-1-1 uk-text-right">
                                <button type="submit" class="uk-button uk-button-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@js = {
<script src="@routes.Assets.versioned("3rd-party/uikit/js/components/grid.min.js")"></script>
}
