@(profileForm : play.data.Form[forms.account.AccountProfileForm])
@import play.i18n._
@import helper._
@import toolbox.helper.SessionHelper
@import forms.account.AccountProfileForm
@import forms.account.AccountProfileForm

@commonview.BaseCommonView(null, null, js){
@accountview.TopBarAccountView()
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @accountview.SideBarAccountView("profile")
        </div>
        <div class="uk-width-medium-8-10 pit-main">
            <h1>@Messages.get("ACCOUNT_SETTINGS.PROFILE.TITLE")</h1>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-large-1-1">
                    <div class="pit-wall-item">
                        <h2>@Messages.get("ACCOUNT_SETTINGS.PROFILE.FORM.BASE_INFO")</h2>
                        <form class="uk-form uk-form-stacked" id="form-base-info" name="form-base-info" method="POST" autocomplete="off"
                              action="@controllers.account.routes.AccountProfileController.POST_AccountProfile()">
                            @CSRF.formField
                            <ul class="uk-grid uk-grid-small" data-uk-grid-margin>
                                <li class="uk-width-large-1-3 uk-width-medium-1-2 uk-width-1-1">
                                    <label class="uk-form-label" for="form-base-2">@Messages.get("ACCOUNT_SETTINGS.PROFILE.FORM.BASE_INFO.FIRST_NAME")</label>
                                    <div class="uk-form-controls">
                                        <input type="text" class="uk-width-1-1" id="form-base-2" placeholder="@Messages.get("ACCOUNT_SETTINGS.PROFILE.FORM.BASE_INFO.FIRST_NAME")" name="firstname"
                                        @if(profileForm != null){value="@profileForm.field("firstname").value()"}>
                                        @if(profileForm != null && profileForm.error("firstname") != null) {
                                        <p style="color:#F44336;margin-top:0">@Messages.get(profileForm.error("firstname").message(), profileForm.error("firstname").arguments())</p>
                                        }
                                    </div>
                                </li>
                                <li class="uk-width-large-1-3 uk-width-medium-1-2 uk-width-1-1">
                                    <label class="uk-form-label" for="form-base-1">@Messages.get("ACCOUNT_SETTINGS.PROFILE.FORM.BASE_INFO.LAST_NAME")</label>
                                    <div class="uk-form-controls">
                                        <input type="text" class="uk-width-1-1" id="form-base-1" placeholder="@Messages.get("ACCOUNT_SETTINGS.PROFILE.FORM.BASE_INFO.LAST_NAME")" name="lastname"
                                        @if(profileForm != null){value="@profileForm.field("lastname").value()"}>
                                        @if(profileForm != null && profileForm.error("lastname") != null) {
                                        <p style="color:#F44336;margin-top:0">@Messages.get(profileForm.error("lastname").message(), profileForm.error("lastname").arguments())</p>
                                        }
                                    </div>
                                </li>
                            </ul>
                            <br/>
                            <div class="uk-grid">
                                <div class="uk-width-1-2">
                                    <input type="hidden" id="fb-token" name="fbToken">
                                    <div class="fb-login-button" scope="public_profile,user_relationships,user_friends"
                                         onlogin="checkFBState();" data-max-rows="1" data-size="large" data-show-faces="false"
                                         data-auto-logout-link="false">@Messages.get("ACCOUNT_SETTINGS.PROFILE.FORM.FB.SYNC.BUTTON")</div>
                                </div>
                                <div class="uk-width-1-2 uk-text-right">
                                    <button type="submit" class="uk-button uk-button-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@js = {
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      getFBData(response);
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
    } else {
      // The person is not logged into Facebook
    }
  }

  // This function is called when someone finishes with the FB Button.
  function checkFBState() {
    UIkit.modal.blockUI('@Messages.get("ACCOUNT_SETTINGS.PROFILE.FORM.FB.SYNC.WAIT.MESSAGE")');
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  // This function for custom button with FB interaction(if need to implement).
  function loginFB() {
    FB.login(function(response) {
      statusChangeCallback(response);
    }, {scope: 'public_profile,email'});
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '@play.Play.application().configuration().getString("facebook.application.id")',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  // Load the FB SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // get FB user data
  function getFBData(fb) {
    document.getElementById("fb-token").value = fb.authResponse.accessToken;
    document.getElementById("form-base-info").submit();
  }
</script>
}
