@(active: String)
@import play.i18n._
@import toolbox.helper.SessionHelper

<h6>Mon compte</h6>
<ul class="uk-list pit-list">
    <a href="@controllers.account.routes.AccountProfileController.GET_AccountProfile()"><li @if(active=="profile"){class="uk-active"}><i class="uk-icon-user"></i> @Messages.get("ACCOUNT_SETTINGS.MENU.PROFILE")</li></a>
    <a href="@controllers.account.routes.AccountPreferencesController.GET_AccountPreferences()"><li @if(active=="preferences"){class="uk-active"}><i class="uk-icon-cog"></i> @Messages.get("ACCOUNT_SETTINGS.MENU.PREFERENCES")</li></a>
    <a href="@controllers.account.routes.AccountAddressesController.GET_AccountAddresses()"><li @if(active=="addresses"){class="uk-active"}><i class="uk-icon-home"></i> @Messages.get("ACCOUNT_SETTINGS.MENU.ADDRESSES")</li></a>
    <a href="@controllers.account.routes.AccountContactController.GET_AccountContact()"><li @if(active=="contact"){class="uk-active"}><i class="uk-icon-envelope"></i> @Messages.get("ACCOUNT_SETTINGS.MENU.CONTACT")</li></a>
    <a href="@controllers.account.routes.AccountNotificationController.GET_AccountNotification()"><li @if(active=="notification"){class="uk-active"}><i class="uk-icon-bell"></i> @Messages.get("ACCOUNT_SETTINGS.MENU.NOTIFICATION")</li></a>
    <a href="@controllers.account.routes.AccountBillingController.GET_AccountBilling()"><li @if(active=="billing"){class="uk-active"}><i class="uk-icon-money"></i> @Messages.get("ACCOUNT_SETTINGS.MENU.BILLING")</li></a>
</ul>
