@import forms.realm.page.article.ManageArticleForm
@(currentRealm: models.RealmModel, currentPage: models.RealmPageModel, article: models.ArticleModel, pageForm : toolbox.form.ExtendedForm[ManageArticleForm, models.ArticleModel], countOptions: Integer, countRules: Integer)
@import play.i18n._
@import helper._
@import models.ArticlePricingModel

@*****************************
REUSABLE BLOCKS
******************************@
@displayError(f: toolbox.form.ExtendedForm[_,_], input: String) = {
@if(f != null && f.error(input) != null) {
<span class="form-error">@Messages.get(f.error(input).message(), f.error(input).arguments())</span><br>
}
}
@setValue(f: toolbox.form.ExtendedForm[_,_], input: String, default: String = "") = {
@if(f != null && f.field(input) != null){
value="@{f.field(input).value()}"
}else{
value="@default"
}
}
@setText(f: toolbox.form.ExtendedForm[_,_], input: String, default: String = "") = {@if(f != null && f.field(input) != null){@{f.field(input).value()}}else{@default}}

@setSelected(option: String, f: toolbox.form.ExtendedForm[_,_], input: String, default: String = "") = {
@if(f != null && f.field(input) != null){
@if(option == f.field(input).value()) {selected}
}else{
@if(option == default) {selected}
}
}

@setChecked(f: toolbox.form.ExtendedForm[_,_], input: String, default: Boolean = false) = {
    @if(f != null && f.field(input) != null){
        @if("true" == f.field(input).value()){checked}
    } else{
        @if(default) {checked}
    }
}

@commonview.BaseCommonView(currentRealm, header, javascript){

<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@currentRealm.getName</h1>
        </div>
    </div>
</div>

<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 pit-sidebar">
            @realmview.vendorpage.SideBarVendorAdminView(currentRealm, currentPage, "PAGE.ADMIN.NOT.SELECTED")
        </div>

        <div class="uk-width-medium-8-10 pit-main">

            @if(article == null){
            <h1>@Messages.get("ARTICLE.MANAGE.PAGE.CREATE.TITLE")</h1>
            } else {
            <h1>@Messages.get("ARTICLE.MANAGE.PAGE.EDIT.TITLE")</h1>
            }
            <div class="uk-grid">
                <div class="uk-width-medium-10-10">
                    <div class="pit-wall-item">
                        <form class="uk-form uk-form-stacked" id="form-manage-article" name="form-manage-article" method="POST" enctype="multipart/form-data" autocomplete="off">
                            @CSRF.formField
                            <h5 >@Messages.get("ARTICLE.MANAGE.PAGE.ABOUT.TITLE")</h5>
                            <div>
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-article-name">@Messages.get("ARTICLE.MANAGE.PAGE.NAME.TITLE")</label>
                                    <div class="uk-form-controls">
                                        <input name="name" type="text" id="form-article-name" class="uk-width-1-1" @setValue(pageForm, "name", if(article != null) article.getName else "")>
                                    </div>
                                    @displayError(pageForm, "name")
                                </div>

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-article-description">@Messages.get("ARTICLE.MANAGE.PAGE.DESCRIPTION.TITLE")</label>
                                    <div class="uk-form-controls">
                                        <textarea name="description" type="text" id="form-article-description" class="uk-width-1-1">@setText(pageForm, "description", if(article != null) article.getDescription else "")</textarea>
                                    </div>
                                    @displayError(pageForm, "description")
                                </div>

                                <div class="uk-form-row">
                                    <label class="uk-form-label">@Messages.get("ARTICLE.MANAGE.PAGE.SALE.ON.TITLE")</label>
                                    <div class="uk-form-controls">
                                        <input name="saleOnWeb" type="checkbox" id="form-article-web" @setChecked(pageForm, "saleOnWeb", if(article != null) article.isSaleOnWeb else false)>
                                        <label for="form-article-web">@Messages.get("ARTICLE.MANAGE.PAGE.SALE.ON.WEB.TITLE")</label>
                                    </div>
                                    <div class="uk-form-controls">
                                        <input name="saleOnMobile" type="checkbox" id="form-article-mobile" @setChecked(pageForm, "saleOnMobile", if(article != null) article.isSaleOnMobile else false)>
                                        <label for="form-article-mobile">@Messages.get("ARTICLE.MANAGE.PAGE.SALE.ON.MOBILE.TITLE")</label>
                                    </div>
                                    <div class="uk-form-controls">
                                        <input name="ticketing" type="checkbox" id="form-article-ticketing" @setChecked(pageForm, "ticketing", if(article != null) article.isTicketing else false)>
                                        <label for="form-article-ticketing">@Messages.get("ARTICLE.MANAGE.PAGE.SALE.ON.TICKETING.TITLE")</label>
                                    </div>
                                </div>

                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-article-status">@Messages.get("ARTICLE.MANAGE.PAGE.STATUS.TITLE")</label>
                                    <div class="uk-form-controls">
                                        <select id="form-article-status" name="status">
                                            @for(value <- ArticleModel.ArticleStatus.values()){
                                            <option value="@value" @setSelected(value.name, pageForm, "status", if(article != null) article.getStatus.name else "") >@Messages.get("ARTICLE.MANAGE.PAGE.STATUS."+value)</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <h5>@Messages.get("ARTICLE.MANAGE.PAGE.PICTURE.TITLE")</h5>
                                <div class="uk-form-row form-row-hide-over">

                                    <div class="uk-form-controls">
                                        <div class="button-group">
                                            <button type="button" class="uk-button file-upload" id="article-logo-button-browse" name="article-logo-button-browse">
                                                <i class="uk-icon-image"></i>
                                                @Messages.get("REALM.ADMIN.PAGE.BTN.SELECT.IMG")
                                            </button>
                                            <button type="button" class="uk-button uk-button-success hidden file-crop" id="article-logo-button-ok" name="article-logo-button-ok">
                                                <i class="uk-icon-check"></i>
                                                @Messages.get("FORM.BUTTON.OK")
                                            </button>
                                            <button type="button" class="uk-button uk-button-danger hidden file-cancel" id="article-logo-button-cancel" name="article-logo-button-cancel">
                                                <i class="uk-icon-close "></i> @Messages.get("FORM.BUTTON.CANCEL")
                                            </button>
                                        </div>

                                        <div id="article-logo-preview" class="hidden preview"></div>
                                        <input type="file" id="article-logo-file" name="logo" class="hidden" accept="image/x-png, image/gif, image/jpeg" data-select="512,512"/>
                                        <input type="hidden" id="article-logo-crop" name="logo_crop"/>

                                        <div id="article-logo-thumbnail" class="thumbnail logo-thumbnail">
                                            @if(article != null && article.getLogo != null) {
                                            <img src="@article.getLogo.getUrlAsString"/>
                                            } else {
                                            <img src="@routes.Assets.versioned("img/default-article.png")"/>
                                            }
                                        </div>
                                    </div>
                                    <br/>
                                    @displayError(pageForm, "logo")
                                </div>
                            </div>

                            <h5>@Messages.get("ARTICLE.MANAGE.PAGE.OPTIONS.TITLE")</h5>
                            <div class="uk-grid " data-uk-grid-margin data-uk-observe id="article-options-list">
                                <div class="uk-grid uk-width-1-1">
                                    <div class="uk-width-3-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.OPTIONS.NAME.TITLE")</b></div>
                                    <div class="uk-width-2-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.OPTIONS.TYPE.TITLE")</b></div>
                                    <div class="uk-width-3-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.OPTIONS.ARGUMENT.TITLE")</b></div>
                                    <div class="uk-width-1-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.OPTIONS.MANDATORY.TITLE")</b></div>
                                    <div class="uk-width-1-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.OPTIONS.DELETE.TITLE")</b></div>
                                </div>

                                @helper.repeat(pageForm("options"), min = countOptions + 1) { wlOption =>
                                <div class="uk-grid uk-width-1-1">
                                    <input type="hidden" name="@pageForm(wlOption.name.toString() + ".id").name" value="@pageForm(wlOption.name.toString() + ".id").value" />
                                    <div class="uk-width-3-10">
                                    <input type="text" name="@pageForm(wlOption.name.toString() + ".name").name" value="@pageForm(wlOption.name.toString() + ".name").value" />
                                    </div>
                                    <div class="uk-width-2-10">
                                    <select name="@pageForm(wlOption.name.toString() + ".type").name">
                                        @for(value <- ArticleOptionModel.OptionType.values()){
                                        <option value="@value" @if(value.toString==pageForm(wlOption.name.toString() + ".type").value) {selected}>@Messages.get("ARTICLE.MANAGE.PAGE.OPTION.TYPE."+value)</option>
                                        }
                                    </select>
                                    </div>
                                    <div class="uk-width-3-10">
                                    <input type="text" name="@pageForm(wlOption.name.toString() + ".argument").name" value="@pageForm(wlOption.name.toString() + ".argument").value" />
                                    </div>
                                    <div class="uk-width-1-10">
                                    <input type="checkbox" name="@pageForm(wlOption.name.toString() + ".mandatory").name" @if("true"==pageForm(wlOption.name.toString() + ".mandatory").value) {checked}/>
                                    </div>
                                    <div class="uk-width-1-10">
                                    @if(pageForm(wlOption.name.toString() + ".id").value) {
                                    <input type="checkbox" name="@pageForm(wlOption.name.toString() + ".delete").name"/>
                                    }
                                    </div>
                                </div>
                                }

                            </div>

                            <h5>@Messages.get("ARTICLE.MANAGE.PAGE.PRICING.TITLE")</h5>
                            <label class="uk-form-label" for="form-article-price">@Messages.get("ARTICLE.MANAGE.PAGE.PRICING.PRICE.TITLE")
                            <input name="price" type="number" step="0.01" id="form-article-price" @if(pageForm.field("price") != null){value="@{pageForm.field("price").value()}"}>
                            </label>

                            <div class="uk-grid " data-uk-grid-margin data-uk-observe id="article-pricing-list">
                                <div class="uk-grid uk-width-1-1">
                                    <div class="uk-width-3-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.PRICING.RULE.TITLE")</b></div>
                                    <div class="uk-width-4-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.PRICING.ARGUMENT.TITLE")</b></div>
                                    <div class="uk-width-2-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.PRICING.AMOUNT.TITLE")</b></div>
                                    <div class="uk-width-1-10"><b>@Messages.get("ARTICLE.MANAGE.PAGE.PRICING.DELETE.TITLE")</b></div>
                                </div>
                            </div>
                            @helper.repeat(pageForm("rules"), min = countRules + 1) { wlOption =>
                            <div class="uk-grid uk-width-1-1">
                                <input type="hidden" name="@pageForm(wlOption.name.toString() + ".id").name" value="@pageForm(wlOption.name.toString() + ".id").value" />
                                <div class="uk-width-3-10">
                                    <select name="@pageForm(wlOption.name.toString() + ".type").name" class="rule-type-selector">
                                    <option value="">---------</option>
                                    @for(value <- ArticlePricingModel.PricingType.values()){
                                    <option value="@value" @if(value.toString==pageForm(wlOption.name.toString() + ".type").value) {selected}>@Messages.get("ARTICLE.MANAGE.PAGE.RULE.TYPE."+value)</option>
                                    }
                                    </select>
                                </div>
                                <div class="uk-width-4-10 @if(ArticlePricingModel.PricingType.MEMBER_OF_GROUP.name==pageForm(wlOption.name.toString() + ".type").value) {hidden}" name="@(wlOption.name.toString() + ".article-div")">
                                    <select name="@pageForm(wlOption.name.toString() + ".articleId").name">
                                    <option value="">---------</option>
                                    @for(article <- ArticleModel.findAllVendorArticles(currentPage)){
                                    <option value="@article.getId" @if((pageForm(wlOption.name.toString() + ".articleId").value) == article.getId.toString) {selected}>@article.getName</option>
                                    }
                                    </select>

                                </div>
                                <div class="uk-width-4-10 @if(!(pageForm(wlOption.name.toString() + ".type").value) || ArticlePricingModel.PricingType.OWN_AN_ARTICLE.name==pageForm(wlOption.name.toString() + ".type").value) {hidden} " name="@(wlOption.name.toString() + ".group-div")">
                                    <select name="@pageForm(wlOption.name.toString() + ".groupId").name">
                                    <option value="">---------</option>
                                    @for(group <- currentRealm.getGroups()){
                                    <option value="@group.getId" @if(group.getId.toString==pageForm(wlOption.name.toString() + ".groupId").value) {selected}>@group.getName</option>
                                    }
                                    </select>

                                </div>
                                <div class="uk-width-2-10">
                                    <input type="number" step="0.01" name="@pageForm(wlOption.name.toString() + ".price").name" @if(pageForm(wlOption.name.toString() + ".price").value){value="@{pageForm(wlOption.name.toString() + ".price").value}"}/>
                                </div>
                                <div class="uk-width-1-10">
                                    @if(pageForm(wlOption.name.toString() + ".id").value) {
                                    <input type="checkbox" name="@pageForm(wlOption.name.toString() + ".delete").name"/>
                                    }
                                </div>

                                @if(pageForm.error(wlOption.name.toString() ) != null) {
                                    <span class="form-error">
                                        @Messages.get(pageForm.error(wlOption.name.toString()).message(), pageForm.error(wlOption.name.toString()).arguments())
                                    </span>
                                }
                            </div>
                            }

                            <h5>@Messages.get("ARTICLE.MANAGE.PAGE.LIMITATION.TITLE")</h5>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-article-quantity">@Messages.get("ARTICLE.MANAGE.PAGE.LIMITATION.QUANTITY")</label>
                                <div class="uk-form-controls">
                                    <input name="maximumQuantity" type="number" id="form-article-quantity" class="uk-width-1-1" @if(pageForm.field("maximumQuantity") != null){value="@{pageForm.field("maximumQuantity").value()}"}>
                                </div>
                                @displayError(pageForm, "maximumQuantity")
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="form-article-limitPerUser">@Messages.get("ARTICLE.MANAGE.PAGE.LIMITATION.PURCHASE")</label>
                                <div class="uk-form-controls">
                                    <input name="limitPerUser" type="number" id="form-article-limitPerUser" class="uk-width-1-1" @if(pageForm.field("limitPerUser") != null){value="@{pageForm.field("limitPerUser").value()}"}>
                                </div>
                                @displayError(pageForm, "limitPerUser")
                            </div>

                            <br/><br/>

                            @if(article == null){
                            <button type="submit" class="uk-button uk-button-primary" formaction="@controllers.realm.routes.ArticleController.POST_NewArticle(currentRealm, currentPage)">
                                <i class="uk-icon-save"></i>
                                @Messages.get("FORM.BUTTON.ADD")
                            </button>
                            }else{
                            <button type="submit" class="uk-button uk-button-primary" formaction="@controllers.realm.routes.ArticleController.POST_EditArticle(currentRealm, currentPage, article)">
                                <i class="uk-icon-save"></i>
                                @Messages.get("FORM.BUTTON.SAVE")
                            </button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@header = {
    <link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("css/realmAdmin.css")"/>
}
@javascript = {
    <script src="@routes.Assets.versioned("3rd-party/Jcrop/js/jquery.Jcrop.min.js")"></script>
    <script src="@routes.Assets.versioned("js/PitCropUtils.js")"></script>

    <script>$('#form-article-description').elastic();</script>

    <script>
    $( ".rule-type-selector" ).change(function() {
      var name = $(this).attr('name').replace('type', '');
      var value = $(this).val();

      if( value === "@(ArticlePricingModel.PricingType.OWN_AN_ARTICLE.name)" ) {
          $( "div[name='" + name + "group-div']" ).hide();
          $( "div[name='" + name + "article-div']" ).show();
          $( "div[name='" + name + "article-div']").removeClass('hidden');
      } else {
          $( "div[name='" + name + "article-div']" ).hide();
          $( "div[name='" + name + "group-div']" ).show();
          $( "div[name='" + name + "group-div']").removeClass('hidden');
      }
    });
    </script>

}