@(realm: models.RealmModel, page: models.RealmPageModel, article: models.ArticleModel)

@import play.i18n._

<div class="pit-wall-item">
    <div class="uk-grid">

        <div class="uk-width-2-10">
            @if(article.getLogo() != null ) {
            <img src="@article.getLogo().getUrlAsString()"/>
            } else {
            <img src="@routes.Assets.versioned("img/default-article.png")"/>
            }
        </div>

        <div class="uk-width-4-10">
            <div class="uk-vertical-align" style="height: 120px;">
                <div class="uk-vertical-align-bottom">
                    <h3>@article.getName</h3>
                    <h3>@Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.TURNOVER", article.getQuantitySold.toString)</h3>
                </div>
            </div>
        </div>

        <div class="uk-width-3-10">
            <div class="uk-vertical-align uk-panel" style="height: 120px;">
                <div class="uk-vertical-align-bottom">
                    <a class="uk-button-primary uk-button-large"
                       href="@controllers.realm.routes.ArticleController.GET_EditArticle(realm, page, article)">
                        @Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.EDIT")</a>
                    <a class="uk-button-primary uk-button-large"
                       href="@controllers.realm.routes.VendorPageController.GET_PageAdministrationArticleHistory(realm, page, article)">
                        @Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.DETAILS")</a>
                </div>
            </div>
        </div>
        <div class="uk-width-1-10 uk-text-center">
            <i class="uk-icon-medium @if(article.isOnSale) { uk-icon-money uk-text-success } else { uk-icon-minus-circle uk-text-danger }">
            </i>
            <div class="uk-container-center">
                @if(article.getStatus() == ArticleModel.ArticleStatus.SALES_OPEN) {
                @Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.ON.SALE")
                }
                @if(article.getStatus() == ArticleModel.ArticleStatus.SALES_CLOSED) {
                @Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.CLOSED")
                }
                @if(article.getStatus() == ArticleModel.ArticleStatus.DISABLED) {
                @Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.DISABLED")
                }
            </div>
        </div>
    </div>
</div>
