@import forms.realm.AddPostForm

@(realm: models.RealmModel, article: models.ArticleModel,
addPostForm: toolbox.form.ExtendedForm[AddPostForm, models.RealmModel])

@import toolbox.helper.PicturesHelper
@import toolbox.helper.SessionHelper;
@import play.i18n._

@header = {
<link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
}

@javascript = {
@components.post.AddPostFormScripts()
}

@commonview.BaseCommonView(realm, header, javascript) {
@realmview.RealmHeader(realm)
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar">
            @commonview.SideBarCommonView(realm)
        </div>
        <div class="uk-width-medium-8-10 pit-main">

            <div class="uk-grid">
                <div class="uk-width-1-3">
                    <div class="pit-wall-item-media">
                        @if(article.getLogo() != null ) {
                        <img src="@article.getLogo().getUrlAsString()"/>
                        } else {
                        <img src="@routes.Assets.versioned("img/default-article.png")"/>
                        }

                    </div>
                </div>
                <div class="uk-width-2-3">
                    <div class="uk-text-center">
                    <h3><strong>@article.getName</strong></h3>
                    <h4>@article.getPriceCalculated €</h4>
                    </div>
                    <div class="uk-margin uk-text-center">
                        <button type="button" class="uk-button uk-button-primary">
                            @Messages.get("ARTICLE.DETAIL.PAGE.BUY.BUTTON")
                        </button>
                    </div>
                    <form class="uk-form uk-form-stacked uk-text-center">
                        @if(article.getOptions() != null && article.getOptions().size() > 0) {
                        <div style="outline: 1px solid #383838;" class="uk-text-center">
                            <h3>@Messages.get("ARTICLE.DETAIL.PAGE.OPTIONS.TITLE")</h3>
                            @for(option <- article.getOptions()){
                            <div class="uk-form-row">
                                <label class="uk-form-label">@option.getName</label>
                                @if(option.getOptionType() == ArticleOptionModel.OptionType.TEXT) {
                                <input name="@option.getName()" type="text">
                                }
                                @if(option.getOptionType() == ArticleOptionModel.OptionType.SELECT) {
                                <select>
                                    @if(option.getValues() != null) {
                                    @for(value <- option.getValues()){
                                    <option value="@value">@value</option>
                                    }
                                    }
                                </select>
                                }
                                @if(option.getOptionType() == ArticleOptionModel.OptionType.MULTISELECT) {
                                <select multiple size="3">
                                    @if(option.getValues() != null) {
                                    @for(value <- option.getValues()){
                                    <option value="@value">@value</option>
                                    }
                                    }
                                </select>
                                }
                                @if(option.getOptionType() == ArticleOptionModel.OptionType.CHECKBOX) {
                                <input name="@option.getName()" type="checkbox">
                                }
                            </div>
                            }
                        </div>
                        }
                    </form>


                    @if(article.getFacebookFriendsBoughtArticle() != null && article.getFacebookFriendsBoughtArticle().size() > 0) {
                    <div style="outline: 1px solid #383838; margin-top: 5px;">
                        <div class="uk-grid" style="margin-left: 5px;">
                            @for(fbUser <- article.getFacebookFriendsBoughtArticle){
                            <div style="margin: 5px; padding-left: 0;">
                                @if(fbUser.getAvatarUrlAsString() != null) {
                                    <img src="@fbUser.getAvatarUrlAsString()"/>
                                } else {
                                    @fbUser.getFullName()
                                }
                            </div>
                            }
                        </div>
                        <div style="margin-left: 5px;">
                            @article.getFacebookFriendsBoughtArticle().get(0).getFullName
                            @if(article.getFacebookFriendsBoughtArticle().size() > 1) {
                                , @article.getFacebookFriendsBoughtArticle().get(1).getFullName
                            }
                            @if(article.getFacebookFriendsBoughtArticle().size() > 2) {
                                @Messages.get("ARTICLE.DETAIL.PAGE.FRIENDS.ALL", (article.getFacebookFriendsBoughtArticle().size()-2).toString)
                            }
                            @Messages.get("ARTICLE.DETAIL.PAGE.FRIENDS.BOUGHT")
                        </div>

                    </div>
                    }


                </div>
            </div>
            <h4><strong>@Messages.get("ARTICLE.DETAIL.PAGE.DESCRIPTION")</strong></h4>
            <h4>@article.getDescription</h4>
            <h4><strong>@Messages.get("ARTICLE.DETAIL.PAGE.ABOUT.VENDOR")</strong></h4>
            <p>Vendor: @article.getVendorPage().getName()</p>
            @if(article.getVendorPage().getVendorProfile() != null) {
            <div>@Html(article.getVendorPage().getVendorProfile().getDescription())</div>
            }
            @if(article.getVendorPage().hasVendor(SessionHelper.getAccount())) {
                @if(addPostForm != null && addPostForm.error("emptypost") != null) {
                    @components.post.AddPostForm(addPostForm.error("emptypost").message())
                } else {
                    @components.post.AddPostForm(null)
                }
            }
            @for(post <- article.posts) {
                @components.post.PostView(post, realm, article.getVendorPage().hasVendor(SessionHelper.getAccount()))
            }
        </div>
    </div>

</div>
}