@(articleSearchResult: java.util.Map[String,String])

@import play.i18n._

<div class="uk-width-small-1-2 uk-width-medium-1-3 pit-wall-item">
    <div class="uk-grid">
        <div class="uk-width-1-1"
        style="background-image:  url(' @articleSearchResult.get("logo") ') ; background-size:cover ; background-repeat: no-repeat ; background-position: center center ;">
            <img class="cart-product-logo img-rounded" src="@articleSearchResult.get("vendorLogo")" onerror="@routes.Assets.versioned("img/default-page-logo.png")" alt="">
        </div>
        <div class="uk-grid">
            <h3 >@articleSearchResult.get("label")</h3>
            <p >@articleSearchResult.get("vendorLabel")</p>
            <div class="uk-width-1-2">
                <a class="btn btn-detail" href="@articleSearchResult.get("slug")">@Messages.get("COMMON.ARTICLE.DETAILS")</a>
            </div>
            <div class="uk-width-1-2">
                <a class="btn btn-price" href="#TODO">@articleSearchResult.get("price") €</a>
            </div>
        </div>
    </div>
</div>