@(realm: models.RealmModel, article: models.ArticleModel)

@import toolbox.helper.PicturesHelper
@import play.i18n._

<div class="uk-width-small-1-2 uk-width-medium-1-3 pit-wall-item">
    <div class="uk-grid">
        <div class="uk-width-1-1"
        style="background-image:  url('@PicturesHelper.getLogoUrl(article)') ; background-size:cover ; background-repeat: no-repeat ; background-position: center center ;">
        </div>
        <div class="uk-grid">
            <h3 >@article.getName</h3>
            <div class="uk-width-1-2">
                <a class="btn btn-detail" href="@controllers.realm.routes.ArticleController.GET_ArticleDetails(realm, article)">@Messages.get("COMMON.ARTICLE.DETAILS")</a>
            </div>
            <div class="uk-width-1-2">
                <a class="btn btn-price" href="#TODO">@article.getPrice €</a>
            </div>
        </div>
    </div>
</div>