// Copyright 2014 - 2015 PayinTech. All rights reserved
//
// PayinTech - www.payintech.com
// MyBee Student - www.mybeestudent.com
// ==========================================================================

a {
    color: @color-link;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 2.50rem 0 0.656rem 0;
    padding-bottom: 0.50rem;
    border-bottom: 1px solid @color-h5-border;
}

.pit-wall-item > h5:first-child {
    margin: 0 0 0.656rem 0;
}

h6 {
    color: @color-h6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

h8 {
    display: block;
    color: @color-h8;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
}

ul + h6 {
    margin-top: 30px;
}

.pit-language-selector-panel {
    background-color: #FFFFFF;
    border: 1px solid @color-dropdown-border;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0 !important;
    box-shadow: 0 2px 2px #AAAAAA;
}

.pit-about-box {
    padding: 6px;
    color: @color-about;

    .uk-button-dropdown {
        vertical-align: bottom;
    }

    .uk-link, .uk-link:hover {
        color: @color-about;
    }

    a, a:hover {
        color: @color-about;
    }
}
