.uk-button-primary {
    background-color: @color-button-primary;
}

.uk-button-primary:hover,
.uk-button-primary:focus {
	background-color: lighten(@color-button-primary, 10%);
}

.uk-button-primary:active,
.uk-button-primary .uk-active {
	background-color: darken(@color-button-primary, 10%);
	color: #FFFFFF;
}

.uk-modal {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2040
}

.uk-modal-dialog {
    z-index: 2042;
    margin-top: 80px;
    border: 1px solid @color-border-modal-dialog;
    box-shadow: 2px 2px 8px #333333;
}

.uk-modal-header h2 + p,
.uk-modal-header h2 + form {
    margin-top: 25px;
}

.uk-modal-footer {
    margin-top: 30px;
}

.uk-grid:not(:first-child) {
    margin-top: 20px !important;
}

.uk-notify {
    margin-top: 50px;
    z-index: 99999 !important;
}

.uk-notify-message-info {
    border: 1px solid @color-border-info;
}

.uk-notify-message-success {
    border: 1px solid @color-border-success;
}

.uk-notify-message-warning {
    border: 1px solid @color-border-warning;
}

.uk-notify-message-danger {
    border: 1px solid @color-border-danger;
}

.uk-nav-dropdown > li > a:hover,
.uk-nav-dropdown > li > a:focus {
    background-color: @color-dropdown-item-hover;
}

.uk-nav-side > li.uk-active > a {
    background: @color-primary;
    color: #FFFFFF;
}

.uk-fixed-navigation {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1042;
}

.uk-navbar-toggle {
    padding-top: 12px !important;
    color: #FFFFFF;
}

.uk-navbar-toggle:hover,
.uk-navbar-toggle:focus,
.uk-navbar-toggle:visited {
    color: @color-navbar-visited;
}

.uk-navbar {
    height: 50px;
    background-color: @color-navbar-background;
}

.uk-navbar-brand,
.uk-navbar-content,
.uk-navbar-toggle {
    padding: 0;
}

.uk-navbar-nav {
    padding-top: 5px;
}

.uk-navbar-nav > li > span {
    line-height: 40px;
    vertical-align: middle;
}

.uk-navbar-nav > li > a,
.uk-navbar-nav > li > span {
    color: #FFFFFF;
    padding: 0 2px;
}

.uk-navbar-nav > li > a:hover,
.uk-navbar-nav > li > a:visited,
.uk-navbar-nav > li.uk-open > a:focus,
.uk-navbar-nav > li.uk-open > a:visited,
.uk-navbar-nav > li.uk-open > a,
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus {
    background-color: @color-navbar-background;
    color: @color-navbar-li;
}

nav, .uk-nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
