// Copyright 2014 - 2015 PayinTech. All rights reserved
//
// PayinTech - www.payintech.com
// MyBee Student - www.mybeestudent.com
// ==========================================================================

@color-html-text:                             #444444;
@color-h5-border:                             #CCCCCC;
@color-h6:                                    #444444;
@color-h8:                                    #444444;
@color-link:                                  #325590;
@color-navbar-background:                     #454545;
@color-navbar-visited:                        #D2D2D2;
@color-form-placeholder:                      #D2D2D2;
@color-account-navbar-background:             #E5E5E5;
@color-sidebar-hover:                         #D2D2D2;
@color-navbar-li:                             #E3E3E3;
@color-primary:                               #0F5E95;
@color-html-background:                       #F5F5F5;
@color-box-background:                        #FFFFFF;
@color-box-border:                            #D2D2D2;
@color-box-separator:                         #D2D2D2;
@color-box-footer:                            #666666;
@color-box-footer-voted:                      #5a69a1;
@color-box-timeinfo:                          #9197A3;
@color-list-item:                             #9197A3;
@color-about:                                 #9197A3;
@color-menupage-border:                       #D2D2D2;
@color-button-primary:                        #0E5D95;
@color-border-modal-dialog:                   #454545;
@color-border-primary:                        #0F5E95;
@color-border-info:                           #000000;
@color-border-success:                        #7B9F12;
@color-border-warning:                        #E38327;
@color-border-danger:                         #FF3C03;
@color-dropdown-border:                       #2D4552;
@color-dropdown-item-hover:                   #0F5E95;
@color-form-error:                            #F44336;
