@import forms.realm.AddPostForm
@(currentRealm: models.RealmModel, currentGroup: models.RealmGroupModel, groupForm: toolbox.form.ExtendedForm[AddPostForm, models.RealmModel])
@import toolbox.helper.SessionHelper; var isPostsDeletionEnabled=false
@if(currentGroup.hasAdministrator(SessionHelper.getAccount())){
@{isPostsDeletionEnabled=true}
}

@header = {
<link rel="stylesheet" href="@routes.Assets.versioned("3rd-party/Jcrop/css/jquery.Jcrop.min.css")"/>
}

@javascript = {
    @components.post.AddPostFormScripts()
}

@commonview.BaseCommonView(currentRealm, header, javascript){
    @realmview.RealmHeader(currentRealm)
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar">
                @commonview.SideBarCommonView(currentRealm)
            </div>
            <div class="uk-width-medium-8-10 pit-main">
                @if(SessionHelper.getAccount().isMemberOf(currentGroup)) {
                    @if(groupForm != null && groupForm.error("emptypost") != null){
                        @components.post.AddPostForm(groupForm.error("emptypost").message())
                    }  else {
                        @components.post.AddPostForm(null)
                    }
                }

                @for(post <- currentGroup.getPosts()){
                    @components.post.PostView(post, currentRealm, isPostsDeletionEnabled)
                }

            </div>
        </div>
    </div>
}
