@(rolesForm: play.data.Form[forms.realm.admin.RolesAdminRealmForm], listModifiable: Boolean, rolesFormData: forms.realm.admin.RolesAdminRealmForm.RolesFormData[_])

@import play.i18n._

@roles() = @{
    rolesFormData.roles;
}

<div>
    <div class="uk-grid uk-grid-small" data-uk-grid-margin data-uk-observe id="realm-list-roles">

        @helper.repeat(rolesForm("roles"), min = rolesForm("roles").indexes.size + (if (listModifiable) 1 else 0)) { role =>
            <div class="uk-width-3-5 role-row">
                <div class="uk-form-icon">
                    <i class="uk-icon-unlock-alt"></i>
                    <input type="hidden" name="@rolesForm(role.name.toString() + ".uid").name" value="@rolesForm(role.name.toString() + ".uid").value" />
                    <input type="text" id="role-@rolesForm(role.name.toString() + ".uid").value" name="@rolesForm(role.name.toString() + ".name").name" value="@rolesForm(role.name.toString() + ".name").value"
                    class="@{if(rolesForm.error(role.name.toString() + ".name") != null) "uk-form-danger" }"
                    @{ if(!listModifiable || rolesForm(role.name.toString() + ".readonly").valueOr("").equals("true")) "readonly" } />

                </div>
                @if(rolesForm != null && rolesForm.error(role.name.toString() + ".name") != null) {
                    <div class="form-error">
                    @Messages.get(rolesForm.error(role.name.toString() + ".name").message(), rolesForm.error(role.name.toString() + ".name").arguments())
                    </div>
                }
            </div>
            <div class="uk-width-2-5">
                @if(rolesForm != null && !rolesForm(role.name.toString() + ".uid").valueOr("").equals("")) {
                    @defining(rolesForm(role.name.toString() + ".uid").value.toString()){ roleUid =>
                        <a class="uk-button" href="@rolesFormData.findRoute(roleUid)">
                            <i class="uk-icon-group"></i>
                            @rolesFormData.getAccountsSize(roleUid) @Messages.get("COMMON.USERS")
                        </a>
                    }
                }

                @if(listModifiable && (rolesForm(role.name.toString() + ".uid").value) && (!rolesForm(role.name.toString() + ".readonly").valueOr("").equals("true")) ) {
                    <input type="checkbox" name="@rolesForm(role.name.toString() + ".delete").name" class="uk-like-button-delete" data-for="role-@rolesForm(role.name.toString() + ".uid").value" />
                }
            </div>

        }
    </div>
    @if(listModifiable){
        <div class="realm-note">
            <div class="uk-badge uk-badge-warning">@Messages.get("COMMON.TITLE.WARNING")</div>
            @Messages.get("REALM.ADMIN.ROLE.INFO_DELETE")
        </div>
        <div class="button-group">
            <button type="button" class="uk-button" id="realm-add-role">
                <i class="uk-icon-plus"></i>
                @Messages.get("REALM.ADMIN.ROLE.BUTTON.ADD")
            </button>
        </div>
    }
</div>