@()

<script type="text/autocomplete">
                                                <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                    {{~items}}
                                                    <li data-value="{{ JSON.stringify($item) }}">
                                                        <a>
                                                            <div class="uk-grid" style="margin-left:0;">
                                                                <div class="uk-width-1-4 uk-text-center uk-text-middle" style="padding-left:0;">
                                                                    {{#$item.avatar}}
                                                                        <img src="{{$item.avatar}}"/>
                                                                    {{/$item.avatar}}
                                                                    {{^$item.avatar}}
                                                                        <img src="{{DEFAULT_AVATAR}}"/>
                                                                    {{/$item.avatar}}
                                                                </div>
                                                                <div class="uk-width-3-4" style="padding-left:10px;">
                                                                    {{ $item.fullName }}</br>
                                                                    <b>Email: </b>{{ $item.primaryEmail }}
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    {{/items}}
                                                </ul>
                                            </script>