@import play.i18n._
@(confirmationToken: String)

@mailview.BaseMailView{
<div>
    <h3>@Messages.get("ACCOUNT_SETTINGS.CONTACT.CONFIRM.MAIL.TITLE")</h3>
    <p>@Messages.get("ACCOUNT_SETTINGS.CONTACT.CONFIRM.MAIL.CONTENT")</p>
    <div style="text-align: center!important;">
        <h2>@Messages.get("ACCOUNT_SETTINGS.CONTACT.CONFIRM.MAIL.TOKEN") <span style="font-weight: bold;">@confirmationToken</span></h2>
    </div>
</div>
}
