@(passwordResetUrl: String)
@import play.i18n._

@mailview.BaseMailView{
    <div>
        <h3>@Messages.get("LOSTPASSWORD.EMAIL.TITLE")</h3>
        <p>@Messages.get("LOSTPASSWORD.EMAIL.CONTENT_1")</p>
        <div style="text-align: center!important;">
            <a href="@passwordResetUrl" style="background-attachment: scroll; background-color: rgb(14, 93, 149); box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; height: 30px; line-height: 30px; margin: 0px; min-height: 30px; padding: 0px 12px; text-align: center; vertical-align: middle; text-decoration: none;">@Messages.get("LOSTPASSWORD.EMAIL.BUTTON")</a>
        </div>
        <p>@Messages.get("LOSTPASSWORD.EMAIL.CONTENT_2")</p>
    </div>
}
