@(realm: models.RealmModel, account: models.AccountModel, token: String, linkUrl: String)
@import play.i18n._

@mailview.BaseMailView{
<div>
    <h3>@if(account!=null){@Messages.get("REALM.ADMIN.INVITE.KNW.WELCOME.MAIL.TITLE", account.getFirstName(), realm.getName())}else{@Messages.get("REALM.ADMIN.INVITE.UKNW.WELCOME.MAIL.TITLE", realm.getName())}</h3>
    <p>@if(account!=null){@Messages.get("REALM.ADMIN.INVITE.KNW.WELCOME.MAIL.CONTENT", realm.getName())}else{@Messages.get("REALM.ADMIN.INVITE.UKNW.WELCOME.MAIL.CONTENT", realm.getName())}</p>
    <div style="text-align: center!important;">
        @if(account == null && token != null){
            <a href="@linkUrl" style="background-attachment: scroll; background-color: rgb(14, 93, 149); box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; height: 30px; line-height: 30px; margin: 0px; min-height: 30px; padding: 0px 12px; text-align: center; vertical-align: middle; text-decoration: none;">@Messages.get("REALM.ADMIN.INVITE.UKNW.WELCOME.MAIL.NEW.ACCOUNT")</a>
            <p>@Messages.get("REALM.ADMIN.INVITE.UKNW.WELCOME.MAIL.TOKEN.CONTENT")</p>
            <p style="font-weight:bold;">@token</p>
        } else {
            <a href="@linkUrl" style="background-attachment: scroll; background-color: rgb(14, 93, 149); box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; height: 30px; line-height: 30px; margin: 0px; min-height: 30px; padding: 0px 12px; text-align: center; vertical-align: middle; text-decoration: none;">@Messages.get("REALM.ADMIN.INVITE.KNW.WELCOME.MAIL.BUTTON", realm.getName())</a>
        }
    </div>
</div>
}