@(realm: models.RealmModel, page: models.RealmPageModel, active: String)
@import play.i18n._

<h6>@page.getName</h6>
<ul class="uk-list pit-list">
    <a href='@controllers.realm.routes.VendorPageController.GET_PageAdministration(realm, page, "PAGE.ADMIN.DASHBOARD")'>
        <li @if(active=="PAGE.ADMIN.DASHBOARD"){class="uk-active"}>@Messages.get("VENDOR.PAGE.ADMIN.DASHBOARD.BUTTON")</li>
    </a>
    <a href='@controllers.realm.routes.ArticleController.GET_PageAdministrationArticles(realm, page, 1)'>
        <li @if(active=="PAGE.ADMIN.ARTICLES"){class="uk-active"}>@Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.BUTTON")</li>
    </a>
    <a href='@controllers.realm.routes.VendorPageController.GET_PageAdministration(realm, page, "PAGE.ADMIN.HISTORY")'>
        <li @if(active=="PAGE.ADMIN.HISTORY"){class="uk-active"}>@Messages.get("VENDOR.PAGE.ADMIN.HISTORY.BUTTON")</li>
    </a>
    <a href='@controllers.realm.routes.VendorPageController.GET_PageAdministrationVendorInfo(realm, page)'>
        <li @if(active=="PAGE.ADMIN.INFORMATION"){class="uk-active"}>@Messages.get("VENDOR.PAGE.ADMIN.VENDOR.BUTTON")</li>
    </a>
</ul>
