@(realm: models.RealmModel, page: models.RealmPageModel, articles: List[models.ArticleModel], pagination: forms.common.PaginationData)

@import forms.common.PaginationData.RouteTransformer
@import toolbox.helper.PicturesHelper
@import play.i18n._

@commonview.BaseCommonView(realm, null, null) {
@realmview.RealmHeader(realm)
<div class="uk-container uk-container-center pit-header-maintitle">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <h1>@realm.getName</h1>
        </div>
    </div>
</div>


<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar">
            @realmview.vendorpage.SideBarVendorAdminView(realm, page, "PAGE.ADMIN.ARTICLES")
        </div>
        <div class="uk-width-medium-8-10 pit-main">

            <h1 class="uk-text-center">@Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.TITLE")</h1>

            <a class="uk-button-primary uk-button-large"
               href="@controllers.realm.routes.ArticleController.GET_NewArticle(realm, page)">
                @Messages.get("VENDOR.PAGE.ADMIN.ARTICLES.NEW")</a>

            @for(article <- articles) {
                @realmview.article.ArticleItemForVendorPageAdmin(realm, page, article)
            }

            <div class="uk-text-center">
            <div class="uk-container-center">
                @if(pagination != null && pagination.show) {
                @components.Pagination(pagination, new RouteTransformer(){
                override def transform(pageIndex: Int): String = controllers.realm.routes.ArticleController.GET_PageAdministrationArticles(realm,page,pageIndex).absoluteURL()
                }, align = "center")
                }
            </div>
            </div>

        </div>
    </div>
</div>
}