@(realm: models.RealmModel, page: models.RealmPageModel)

@import play.i18n._
@import toolbox.helper.SessionHelper

<div class="uk-container uk-container-center pit-homepage-header">
    <div class="uk-grid pit-homepage-header-background pit-homepage-header-background-fix"
    style="background-image: url('@if(page.getBanner() == null){@routes.Assets.versioned("img/default-page-banner.png")} else {@page.getBanner().getUrlAsString()}')">
    @if(page.hasVendor(SessionHelper.getAccount())) {
        <div class="pit-header-button">
            <a href='@controllers.realm.routes.VendorPageController.GET_PageAdministration(realm, page, "PAGE.ADMIN.DASHBOARD")' class="uk-button uk-button-small uk-button-primary"><i class="uk-icon-cog"></i> @Messages.get("VENDOR.PAGE.HEADER.ADMIN.BUTTON")</a>
        </div>
    }
</div>