@(realm: models.RealmModel, page: models.RealmPageModel, articles: List[models.ArticleModel], posts: List[models.PostModel], hasMoreArticles: Boolean)

@import play.i18n._

@javascript = {
    <script src="@routes.Assets.versioned("3rd-party/elastic/jquery.elastic.min.js")"></script>
    <script>$('#pit-wall-publish-textarea').elastic();</script>
}


@commonview.BaseCommonView(realm, null, javascript) {
    @VendorPageHeader(realm, page)
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar">
            @commonview.SideBarCommonView(realm)
            </div>
            <div class="uk-width-medium-8-10 pit-main">


                @if(articles.nonEmpty) {
                    <div class="uk-panel">
                        <h3 class="uk-panel-title">@Messages.get("VENDOR.PAGE.BLOCK.ARTICLES.HEADER")</h3>
                        <div class="uk-grid">
                        @for(article <- articles) {
                            @components.article.ArticleItemView(realm, article)
                        }
                        </div>
                        @if(hasMoreArticles) {
                            <span class="md-view-more-ctrl">

                                <a href="@controllers.realm.routes.VendorPageController.GET_vendorPageDetails(realm,page,1)">
                                    @Messages.get("COMMON.VIEW.MORE")
                                </a>
                            </span>
                        }
                    </div>
            }


                <h3 class="uk-panel-title">@Messages.get("VENDOR.PAGE.BLOCK.POSTS.HEADER")</h3>

                @for(post <- posts){
                    @components.post.PostView(post, realm, false)
                }
            </div>
        </div>
    </div>
}