@(realm: models.RealmModel, page: models.RealmPageModel, active: String)

@import play.i18n._

@commonview.BaseCommonView(realm, null, null) {
    @realmview.RealmHeader(realm)
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-medium-2-10 uk-hidden-small pit-sidebar">
            @realmview.vendorpage.SideBarVendorAdminView(realm, page, active)
            </div>
            <div class="uk-width-medium-8-10 pit-main">
                TODO
            </div>
        </div>
    </div>
}