// Copyright 2014 - 2015 PayinTech. All rights reserved
//
// PayinTech - www.payintech.com
// MyBee Student - www.mybeestudent.com
// ==========================================================================

@import "common/_variables.less";
@import "common/_common.less";
@import "common/_uikit.less";

html.pit-page-application {
    background-color: @color-html-background;

    @media (max-width: 420px) {
        overflow-x: hidden;
    }
}

.pit-page-application {
    .pit-margin-top {
        margin-top: 80px;
    }

    .pit-nav-search-box {
        input {
            margin-top: 10px;
            margin-left: 5px;
            width: 400px!important;
            border-radius: 2px;

            @media (max-width: 920px) {
                width: 260px !important;
            }
        }

        input:focus::-webkit-input-placeholder {
            color: @color-form-placeholder;
            background-color: #FFFFFF;
        }

        input:focus::-moz-placeholder {
            color: @color-form-placeholder;
            background-color: #FFFFFF;
        }

        input:focus:-ms-input-placeholder {
            color: @color-form-placeholder;
            background-color: #FFFFFF;
        }

        .uk-dropdown {
            position: relative;
        }
    }

    .pit-realm-navbar-panel {
        width: 340px !important;
        margin-right: 0;
        box-shadow: 1px 1px 4px #555555;
        background-color: #FFFFFF;

        ul a img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        ul a span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: ~"-moz-calc(340px - 100px)";
            width: ~"-webkit-calc(340px -100px)";
            width: ~"calc(340px - 100px)";
            height: 20px;
            vertical-align: middle;
            display: inline-block;
            font-weight: 600;
        }
    }

    .pit-account-navbar-panel {
        width: 340px !important;
        margin-left: -258px;
        box-shadow: 1px 1px 4px #555555;
        background-color: @color-account-navbar-background;
        background-image: url("../img/account-nav-settings.png");
        background-repeat: no-repeat;
        background-position: right 7px center;

        ul {
            font-size: 0;
        }

        ul li i {
            display: block;
            margin: 10px auto;
            font-size: 35px;
        }

        ul > li {
            background: white;
            display: inline-block;
            width: 150px;
            text-align: center;
            border: 1px solid @color-account-navbar-background;
            border-left: 0;
            border-bottom: 0;
        }

        li a {
            font-size: 14px;
            padding: 5px 15px !important;
            margin-top: -1px;
            display: block;
            height: 80px;
        }
    }

    .pit-header-button {
        position: relative;
        height: 50px;
        top: 205px;
        left: 20px;
        padding: 0 !important;
    }

    .pit-header-avatar {
        height: 150px;
        width: 150px;
        border: 3px solid #FFFFFF;
        border-radius: 2px;
        position: relative;
        top: 150px;
        left: 20px;
        padding: 0 !important;
        box-shadow: 1px 1px 4px #555555;

        @media (max-width: 1220px) {
            left: 40px;
            top: 145px;
        }
    }

    .pit-policies-header {
        margin-top: 100px;
        max-width: 100% !important;
        padding: 0;

        h1 {
            color: #FFFFFF;
            text-shadow: 2px 2px 2px #000000;
            padding-left: 100px;
            padding-top: 130px;
            width: 80%;

            @media (max-width: 920px) {
                padding-top: 100px;
                padding-left: 60px;
            }

            @media (max-width: 420px) {
                padding-top: 100px;
                padding-left: 40px;
                width: 380px;
            }
        }

        div > div {
            width: 100%;
            padding: 0;

            @media (max-width: 420px) {
                width: 380px;
            }
        }

        @media (max-width: 1220px) {
            padding: 0;
            margin: 100px 0 0;
            max-width: 1680px;
            width: 100%;
        }
    }

    .pit-policies-header-background {
        background: no-repeat;
        background-position: 50% 30%;
        background-size: cover;
        height: 250px;
        margin-top: -50px;
        margin-bottom: 30px;

        @media (max-width: 1220px) {
            border-radius: 0;
            margin-left: 0;
        }
    }

    .pit-page .pit-sidebar {
        padding-top: 80px;
    }

    .pit-homepage-header {
        margin-top: 100px;

        ul li {
            display: inline-block;
        }

        @media (max-width: 1220px) {
            padding: 0;
            margin: 100px 0 0;
            max-width: 1680px;
            width: 100%;
        }
    }

    .pit-actorpage-header {
            margin-top: 100px;
            padding-right: 0;

            ul li {
                display: inline-block;
            }

            @media (max-width: 1220px) {
                padding: 0;
                margin: 100px 0 0;
                max-width: 1680px;
                width: 100%;
            }
        }

    .pit-homepage-header-background {
        background: no-repeat;
        background-position: 0;
        background-size: cover;
        height: 250px;
        margin-top: -50px;
        margin-bottom: 30px;
        border-radius: 0 0 4px 4px;

        .pit-homepage-header-title {
            color: #FFFFFF;
            margin-top: 260px;
            font-size: 24px;
            font-weight: 600;
            text-rendering: optimizelegibility;
            text-shadow: 0 0 3px rgba(0,0,0,.8)
        }

        @media (max-width: 1220px) {
            border-radius: 0;
            margin-left: 0;
        }
    }

    .pit-homepage-header-background-fix {
        margin-left: 5px;

        @media (max-width: 1220px) {
            border-radius: 0;
            margin-left: 0;
        }
    }

    .pit-homepage-header-background-big {
        height: 320px;
    }

    .pit-homepage-header-menu {
        background-color: #FFFFFF;
        position: relative;
        min-height: 40px;
        top: -40px;
        border-radius: 0 0 4px 4px;
        border-left: 1px solid @color-menupage-border;
        border-right: 1px solid @color-menupage-border;
        border-bottom: 1px solid @color-menupage-border;
        padding-top: 10px;

        ul {
            padding-left: 10px;

            @media (max-width: 767px) {
                padding-left: 35px;
            }
        }

        @media (max-width: 1220px) {
            margin-left: 0;
            border-radius: 0;
            border-left: 0;
            border-right: 0;
            overflow: hidden;
        }
    }

    .pit-header-maintitle {
        margin-top: 70px;
        margin-bottom: 40px;

        h1 {
            padding-left: 8px;
            font-size: 38px;
            line-height: 44px;
            font-weight: bold;

            @media (max-width: 1220px) {
                padding-left: 0;
            }

            @media (max-width: 767px) {
                padding-left: 0;
            }
        }
    }

    .pit-sidebar {
        padding: 0 0 0 0;

        ul > a > li > i {
            width: 15px;
        }

        ul > li,
        ul > a > li {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
            padding-left: 5px;
            color: @color-html-text;
        }

        ul a:hover {
            text-decoration: none;
        }

        ul > a:hover > li,
        ul > li:hover {
            background-color: @color-sidebar-hover;
        }

        @media (min-width: 1220px) {
            padding-left: 40px;
        }

        @media (max-width: 1010px) {
            padding-left: 10px;
        }
    }

    .pit-wall-publish {
        background-color: #FFFFFF;
        border-radius: 2px;
        border: 1px solid @color-box-border;
        margin-bottom: 15px;

        img {
            display: inline-block;
            height: 50px;
            width: 50px;
            border: 1px solid @color-box-border;
        }

        textarea:focus::-webkit-input-placeholder {
            color: @color-form-placeholder;
        }


        textarea:focus::-webkit-input-placeholder {
            color: @color-form-placeholder;
        }

        textarea:focus:-ms-input-placeholder {
            color: @color-form-placeholder;
        }

        textarea:focus {
            background-color: transparent;
        }

        textarea {
            display: inline-block;
            width: ~"-moz-calc(100% - 60px)";
            width: ~"-webkit-calc(100% - 60px)";
            width: ~"calc(100% - 60px)";
            resize: none;
            border: none;
            height: 40px;
        }

        .pit-wall-publish-content {
            padding: 8px;
        }

        .pit-wall-publish-footer {
            border-top: 1px solid @color-box-border;
            padding: 8px 10px 10px;

            .uk-button:not(.uk-button-primary) {
                background-color: transparent;
            }
        }
    }

    .pit-wall-item-header-author {
        display: inline-block;
        vertical-align: top;
        padding-left: 5px;
    }

    .pit-wall-item {
        background-color: #FFFFFF;
        border-radius: 2px;
        border: 1px solid @color-box-border;
        margin-bottom: 15px !important;
        padding: 8px;

        .pit-wall-item-header {
            img {
                display: inline-block;
                vertical-align: top;
                height: 50px;
                border: 1px solid @color-box-border;
            }

            p {
                line-height: 0;
                color: @color-box-timeinfo;
            }
        }

        .pit-wall-item-content {
            margin-top: 10px;
        }

        .pit-wall-item-content + .pit-wall-item-media {
            margin-top: 10px;
            text-align: center;
        }

        .pit-wall-item-footer {
            margin-top: 15px;
            padding-top: 5px;
            padding-left: 14px;
            padding-right: 14px;
            border-top: 1px solid @color-box-border;

            a {
                color: @color-box-footer;
                text-decoration: none;
            }

            a.voted {
                font-weight: bold;
                color: @color-box-footer-voted;
            }
        }
    }

    .pit-posts-publish {
        background-color: #FFFFFF;
        border-radius: 2px;
        border: 1px solid @color-box-border;
        margin-bottom: 15px;

        .hidden {
            display: none;
        }

        .button-group {
            padding-top: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            clear: both;
        }

        .thumbnail {
            float: left;
            overflow: hidden;
            width: 150px;
            height: 150px;
        }

        .thumbnail img {
            max-width: none;
            display: block;
            height: 100%;
        }

        .avatar-img {
            display: inline-block;
            height: 50px;
            width: 50px;
            border: 1px solid @color-box-border;
        }

        textarea:focus::-webkit-input-placeholder {
            color: @color-form-placeholder;
        }


        textarea:focus::-webkit-input-placeholder {
            color: @color-form-placeholder;
        }

        textarea:focus:-ms-input-placeholder {
            color: @color-form-placeholder;
        }

        textarea:focus {
            background-color: transparent;
        }

        textarea {
            display: inline-block;
            width: 100%;
            resize: none;
            border: none;
            height: 40px;
        }

        .pit-posts-publish-content {
            padding: 8px;
        }

        .pit-posts-publish-footer {
            border-top: 1px solid @color-box-border;
            padding: 8px 10px 10px;

            .uk-button:not(.uk-button-primary) {
                background-color: transparent;
            }
        }
    }

    .pit-posts-publish.comment-form {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .comments-container {
        padding-left: 50px;


        ul {
            padding-left: 0;
            list-style: none;

            .comment-item {
                background-color: #FFFFFF;
                border-radius: 1px;
                border: 1px solid @color-box-border;
                padding: 4px;


                .comment-item-header {
                    img {
                        display: inline-block;
                        vertical-align: top;
                        height: 30px;
                        border: 1px solid @color-box-border;
                    }

                    p {
                        line-height: 0;
                        color: @color-box-timeinfo;
                    }
                }
                .comment-item-content {
                    margin-top: 5px;
                }
                .comment-item-content + .pit-wall-item-media {
                    margin-top: 5px;
                    text-align: center;
                }

                .delete-comment-button {
                    float: right;
                }
            }


        }
    }

    h6 + .pit-list {
        margin-top: -10px;
    }

    .pit-separator {
        border-bottom: 1px solid @color-box-separator;
        height: 30px;
    }

    .pit-title-small-spacing {
        margin-bottom: -5px;
    }

    .pit-list {
        .uk-active,
        .uk-active:hover {
            color: #FFFFFF;
            background-color: #0E5D95;
        }
    }

    .pit-list-item {
        margin-bottom: 0;

        img {
            height: 50px;
            border: 1px solid @color-box-border;
        }

        p {
            line-height: 0;
            color: @color-list-item;
        }

        h8 + button {
            margin-top: 5px;
        }

        .uk-active,
        .uk-active:hover {
            color: #FFFFFF;
            background-color: @color-button-primary;
        }
    }

    .pit-author-truncat {
        p {
            width: 220px;;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 12px;
            margin-top: 8px;
            display: inline-block;

            @media (max-width: 1220px) {
                width: 165px;
            }

            @media (max-width: 1010px) {
                width: 100px;
            }
        }

        h8 {
            width: 220px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (max-width: 1220px) {
                width: 165px;
            }

            @media (max-width: 1010px) {
                width: 100px;
            }
        }
    }

    .uk-dropdown:not(.uk-dropdown-stack) > .uk-dropdown-grid {
        @media (min-width: 768px) {
            margin: -15px;
        }
    }

    .pit-page .uk-grid > .pit-main,
    .pit-page.uk-container {
        @media (max-width: 920px) {
            padding: 0 0 0  25px !important;
        }

        @media (max-width: 767px) {
            padding: 0 !important;
        }
    }
    form.mb-search div.uk-dropdown {
      border: @color-dropdown-border 1px solid;
      border-radius: 4px;
    }

    form.mb-search div.uk-dropdown .uk-active {
      background: @color-list-item;
    }

    span.md-view-more-ctrl {
      position: absolute;
      right: 0;
      bottom: 0;
      background: @color-box-timeinfo;
      border: @color-dropdown-border 1px solid;
      border-radius: 4px;
      font-size: large;
      font-weight: bold;
      padding: 5px 10px;
    }
}

.form-error {
    color: @color-form-error;
}
