// Copyright 2014 - 2015 PayinTech. All rights reserved
//
// PayinTech - www.payintech.com
// MyBee Student - www.mybeestudent.com
// ==========================================================================

@import "common/_variables.less";
@import "common/_common.less";
@import "common/_uikit.less";

html.pit-page-login {
    background-color: @color-html-background;

    @media (max-width: 420px) {
        overflow-x: hidden;
    }
}

.pit-page-login {
    .uk-notify {
        margin-top: 70px;
    }

    .uk-navbar {
        height: 65px;
        background-color: @color-navbar-background;
    }

    .pit-nav-login {
        margin-top: 1px;

        div > a {
            padding-left: 4px;
            color: @color-html-text;
        }

        a {
            color: #FFFFFF;
        }
    }

    .pit-margin-top {
        margin-top: 100px;
    }
}
