// Copyright 2014 - 2015 PayinTech. All rights reserved
//
// PayinTech - www.payintech.com
// MyBee Student - www.mybeestudent.com
// ==========================================================================
.realm-note {
    padding: 10px;
    font-style: italic;
    color: #808080;
    clear: both;
}

.form-row-hide-over {
    overflow: hidden;
}

.button-group {
    margin-bottom: 10px;
}

.uk-grid .button-group {
    padding-top: 10px;
}

input[type=text] {
    width: 80%;
}

.uk-form-icon {
    width: 100%;
}

.uk-form-icon.button>input[type=checkbox]{
    cursor: pointer;
    background: #eee;
}

.uk-form-select.uk-form-icon select {
    padding-left: 30px;
}

.btn-user-delete {
    cursor: pointer;
}

.role-row input {
    width: 100%;
}

.user-avatar {
    float: left;
    max-width: 60px;
    margin-right: 20px;
}

/************************************************************************************************************
     /!\ Warning: All CSS after this comment is use from realmAdin.coffee, make sure when you change a value
*************************************************************************************************************/
.thumbnail {
    float: right;
    overflow: hidden;
}

.thumbnail img {
    max-width: none;
    display: block;
    height: 100%;
}

.logo-thumbnail {
    /*** Orginal Logo: 512x512, pleqse respect ratio ***/
    width: 150px;
    height: 150px;
}

.banner-thumbnail {
    /*** Orginal Banner: 1200x250, please respect ratio ***/
    height: 150px;
    width: 720px;
}

.hidden {
    display: none;
}
