@(policiesTerms: StringBuilder, policiesData: StringBuilder, policiesCommunity: StringBuilder)
@import play.i18n._

@commonview.BaseCommonView(){
    <div class="uk-container uk-container-center pit-policies-header">
        <div class="uk-grid pit-policies-header-background" style="background-image: url('@routes.Assets.versioned("img/policies-banner.jpg")')">
            <div class="uk-container uk-container-center">
                <h1>@Html(Messages.get("POLICIES.HEADER.TITLE"))</h1>
            </div>
        </div>
    </div>
    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-medium-2-10">
                <ul class="uk-nav uk-nav-side" data-uk-switcher="{connect:'#page-content'}">
                    <li class="uk-active" aria-expanded="false"><a href="">@Messages.get("POLICIES.LEFTMENU.TERMS")</a></li>
                    <li aria-expanded="false" class=""><a href="">@Messages.get("POLICIES.LEFTMENU.DATA")</a></li>
                    <li aria-expanded="false" class=""><a href="">@Messages.get("POLICIES.LEFTMENU.COMMUNITY")</a></li>
                </ul>
                <div class="uk-hidden-medium uk-hidden-large">
                    <hr/>
                    <br/>
                </div>
            </div>
            <div class="uk-width-medium-8-10">
                <ul id="page-content" class="uk-switcher">
                    <li class="" aria-hidden="true">
                        @if(policiesTerms != null) {
                            @Html(policiesTerms.toString())
                        }
                    </li>
                    <li aria-hidden="true" class="">
                        @if(policiesTerms != null) {
                            @Html(policiesData.toString())
                        }
                    </li>
                    <li aria-hidden="false" class="">
                        @if(policiesTerms != null) {
                            @Html(policiesCommunity.toString())
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="uk-grid">
            <div class="pit-about-box">
                @commonview.FooterCommonView()
            </div>
        </div>
    </div>
}
