@(authForm: toolbox.form.ExtendedForm[forms.system.AuthenticationForm, Boolean], captcha: Boolean)
@import play.i18n._
@import helper._

@javascript = {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        function setCaptcha() {
            document.getElementById("captcha").value = document.getElementById("g-recaptcha-response").value;
        }
    </script>
}

@commonview.BaseCommonView(null, javascript) {
    <div class="uk-container uk-container-center pit-margin-top">
        <div class="uk-grid" style="margin-left:0 !important;">
            <div class="uk-width-medium-4-10 uk-container-center pit-wall-item" style="margin-top:50px;padding-left:35px;padding-right:30px;padding-bottom:15px;">
                <h2>@Messages.get("AUTHENTICATION.TITLE")</h2>
                <form class="uk-form uk-form-stacked" name="pit-login-box" id="pit-login-box-id" autocomplete="off"
                      method="POST" action="@controllers.system.routes.AuthenticationController.POST_Authentication()">
                    @CSRF.formField
                    <input type="hidden" name="redirect" value="@if(authForm != null){@authForm.field("redirect").value()}else{@if(request.queryString.containsKey("n")){@request.queryString.get("n")}}"/>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <fieldset>
                                <label class="uk-form-label" for="form-login-username">@Messages.get("AUTHENTICATION.FORM.LABEL.USERNAME")</label>

                                <div class="uk-form-icon" style="width: 100%">
                                    <i class="uk-icon-user"></i>
                                    <input type="text" id="form-login-username" name="email" class="@{if(authForm != null && authForm.error("email") != null) "uk-form-danger" }" style="width: 100%" @if(authForm != null){value="@authForm.field("email").value()"}/>
                                </div>
                                @if(authForm != null && authForm.error("email") != null) {
                                <p style="color:#F44336;margin-top:0">@Messages.get(authForm.error("email").message(), authForm.error("email").arguments())</p>
                                }
                            </fieldset>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <fieldset>
                                <label class="uk-form-label" for="form-login-password">@Messages.get("AUTHENTICATION.FORM.LABEL.PASSWORD")</label>
                                <div class="uk-form-icon" style="width: 100%">
                                    <i class="uk-icon-lock"></i>
                                    <input type="password" id="form-login-password" name="password" class="@{if(authForm != null && authForm.error("password") != null) "uk-form-danger" }" style="width: 100%"/>
                                </div>
                                @if(authForm != null && authForm.error("password") != null) {
                                <p style="color:#F44336;margin-top:0">@Messages.get(authForm.error("password").message(), authForm.error("password").arguments())</p>
                                }
                            </fieldset>
                        </div>
                    </div>
                    @if(captcha){
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <fieldset>
                                <center>
                                    <div class="g-recaptcha" data-sitekey="@play.Play.application().configuration().getString("google.recaptcha.sitekey")" data-callback="setCaptcha"></div>
                                    <input type="hidden" name="captcha" id="captcha" />
                                </center>
                                @if(authForm != null && authForm.error("captcha") != null) {
                                <p style="color:#F44336">@Messages.get(authForm.error("captcha").message(), authForm.error("captcha").arguments())</p>
                                }
                            </fieldset>
                        </div>
                    </div>
                    }
                    <div class="uk-grid">
                        <div class="uk-width-1-1 uk-text-right">
                            <button type="submit" class="uk-button uk-button-primary">
                                @Messages.get("AUTHENTICATION.BUTTON.LOGIN")
                            </button>
                        </div>
                    </div>
                </form>
            <div>
                <a href="@controllers.system.routes.LostPasswordController.GET_LostPassword()">@Messages.get("AUTHENTICATION.LINK.RESET_PASSWORD")</a>
            </div>
        </div>
    </div>
}
