@(lostForm: Form[forms.system.LostPasswordForm], isCompleted: Boolean)
@import play.i18n._
@import helper._

@commonview.BaseCommonView() {
    <div class="uk-container uk-container-center pit-margin-top">
        <div class="uk-grid" style="margin-left:0 !important;">
            <div class="uk-width-medium-4-10 uk-container-center pit-wall-item" style="margin-top:50px;padding-bottom:15px;padding-left:0;padding-right:0">
                <h2 style="padding-top:5px;padding-left:30px;padding-right:30px">@Messages.get("LOSTPASSWORD.TITLE")</h2>
                @if(isCompleted) {
                <div style="background-color:#7B9F12;color:#FFFFFF;text-align:center;font-size:16px;padding-top:10px;padding-bottom:10px;">
                    <i class="uk-icon-check-circle"></i> @Messages.get("LOSTPASSWORD.TEXT.EMAIL_SENT") <a style="color:#FFFFFF" href="@controllers.system.routes.LostPasswordController.GET_LostPassword()">@Messages.get("LOSTPASSWORD.LINK.NOT_RECEIVED")</a>
                </div>
                <div style="font-size:17px;padding-top:15px;padding-left:35px;padding-right:30px;">
                    @Messages.get("LOSTPASSWORD.TEXT.SUCCESS")
                </div>
                } else {
                <div style="padding-left:35px;padding-right:30px;margin:0;">
                    <form class="uk-form uk-form-stacked" name="pit-login-box" id="pit-login-box-id" autocomplete="off"
                          method="POST" action="@controllers.system.routes.LostPasswordController.POST_LostPassword()">
                        @CSRF.formField
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <fieldset>
                                    <label class="uk-form-label" for="form-lost-email-or-phone">@Messages.get("LOSTPASSWORD.FORM.LABEL.EMAIL")</label>
                                    <div class="uk-form-icon" style="width: 100%">
                                        <i class="uk-icon-envelope"></i>
                                        <input type="email" class="@{if(lostForm != null && lostForm.error("email") != null) "uk-form-danger" }" id="form-lost-email-or-phone" name="email" style="width: 100%"/>
                                    </div>
                                </fieldset>
                                @if(lostForm != null && lostForm.error("email") != null) {
                                <p style="color:#F44336;margin-top:0">@Messages.get(lostForm.error("email").message(), lostForm.error("email").arguments())</p>
                                }
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-1-1 uk-text-right">
                                <button type="submit" class="uk-button uk-button-primary" style="margin-top:10px">
                                    @Messages.get("LOSTPASSWORD.BUTTON.RESET_PASSWORD")
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                }
            </div>
        </div>
    </div>
}
