@(hasInvite : Boolean, enrollForm : Form[forms.system.RealmSelectorEnrollTokenForm])
@import play.i18n._
@import helper._
@import toolbox.helper.SessionHelper

@commonview.BaseCommonView(){
<div class="uk-container uk-container-center pit-margin-top">
    @if(hasInvite != null && hasInvite){
        <div class="uk-grid" style="margin-left:0 !important;">
            <div class="uk-width-medium-4-10 uk-container-center pit-wall-item" style="margin-top:50px;padding-bottom:15px;padding-left:0;padding-right:0">
                <h2 style="padding-top:5px;padding-left:30px;padding-right:30px">@Messages.get("REALM.SELECTOR.INVITE.TITLE")</h2>
                <div style="padding-left:35px;padding-right:30px;margin:0;">
                    <p style="padding-top:5px; padding-bottom:5px;">@Html(Messages.get("REALM.SELECTOR.INVITE.CONTENT"))</p>
                    <form class="uk-form uk-form-stacked" name="pit-enroll-realm-box" id="pit-login-box-id" autocomplete="off"
                          method="POST" action="@controllers.system.routes.RealmSelectorController.POST_RealmEnrollByToken()">
                        @CSRF.formField
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <fieldset>
                                    <label class="uk-form-label" for="form-token-enroll-realm">@Messages.get("REALM.SELECTOR.INVITE.TOKEN.LABEL")</label>
                                    <div class="uk-form-icon" style="width: 100%">
                                        <i class="uk-icon-ticket"></i>
                                        <input type="text" id="form-token-enroll-realm" name="enrollToken" class="@{if(enrollForm != null && enrollForm.error("enrollToken") != null) "uk-form-danger" }" style="width: 100%"/>
                                    </div>
                                </fieldset>
                                @if(enrollForm != null && enrollForm.error("enrollToken") != null) {
                                <p style="color:#F44336;margin-top:0">@Messages.get(enrollForm.error("enrollToken").message(), enrollForm.error("enrollToken").arguments())</p>
                                }
                            </div>
                        </div>
                        <div class="uk-grid">
                            <div class="uk-width-1-1 uk-text-right">
                                <button type="submit" class="uk-button uk-button-primary" style="margin-top:10px">@Messages.get("FORM.BUTTON.VALID")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }else{
        <h1>@SessionHelper.getAccount().getFullName()</h1>
    }
</div>
}
