<p>
    La version d’origine de ce document est en français (France). En cas de conflit entre la traduction de ce document et la version d’origine, la version d’origine prévaut.
</p>
<p>
    Date de la dernière révision : <strong>vendredi 30 janvier 2015</strong>
</p>
<h3>Propriété de PayinTech sur le contenu du site</h3>
<p>
    Vivamus pharetra rutrum tristique. Pellentesque dictum eleifend sollicitudin. Proin hendrerit mi
    quis urna maximus, vel vehicula velit convallis. Nam luctus sapien et lacinia fringilla. Aenean
    a nulla a dui semper mollis. Pellentesque mauris diam, hendrerit ut imperdiet ut, vulputate
    sit amet lectus. In in elit mauris. Nulla blandit imperdiet odio sollicitudin rhoncus. Donec
    commodo sapien leo, a lobortis ex rutrum non. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia Curae; Sed fringilla, purus sit amet ullamcorper dignissim,
    sapien diam facilisis enim, nec congue nibh turpis vestibulum quam. Maecenas a nulla id tellus
    egestas vestibulum ut nec nulla. Integer auctor libero in eros posuere gravida. Proin aliquam,
    mauris id faucibus pulvinar, tortor urna imperdiet libero, in pellentesque nunc leo vitae lacus.
</p>
<h3>Relations entre les parties</h3>
<p>
    Fusce eu nisi eget tellus semper luctus. Nullam porta ipsum at rhoncus mollis. Sed pharetra dolor
    et pretium vestibulum. Sed egestas sapien nec arcu faucibus, aliquam ornare leo commodo. Praesent
    elit quam, eleifend sed iaculis id, egestas eu metus. Cras tempor nec magna non imperdiet. Nulla
    rhoncus venenatis tortor, ut pulvinar metus maximus blandit. Mauris lobortis tempus tellus, quis
    facilisis eros suscipit et. Integer a magna a diam rhoncus dignissim.
<p>
