@import play.i18n._

<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}" aria-haspopup="true"
     aria-expanded="false" data-vivaldi-spatnav-clickable="1">
    <a class="uk-link">@Messages.get("LANG." + lang.language())</a>
    <div class="uk-dropdown uk-dropdown-up pit-language-selector-panel">
        <ul class="uk-nav uk-nav-dropdown">
            @for(lng <- play.Play.application().configuration().getStringList("play.i18n.langs")) {
                <li><a href="@routes.LanguageController.GET_ChangeLanguage(lng)">@Messages.get("LANG." + lng)</a></li>
            }
        </ul>
    </div>
</div> · @Messages.get("FOOTER.LINK.PRIVACY") ·
<a href="@routes.AboutController.GET_Policies()">@Messages.get("FOOTER.LINK.TERMS")</a> ·
@Messages.get("FOOTER.LINK.COOKIES") ·
<a href="https://twitter.com/mbstudentstatus">@Messages.get("FOOTER.LINK.STATUS")</a>
<br/><br/>
MyBee Student &copy; 2014 - @(new Date().format("yyyy"))
