@(currentRealm: models.RealmModel = null,
        lastArticles: List[models.ArticleModel],
        bestArticles: List[models.ArticleModel])(showFriends: Boolean = true, showArticle: Boolean = true, stickyArticle: Boolean = true)
@import play.i18n._
@import toolbox.helper.PicturesHelper

@articleView(currentRealm: models.RealmModel, article: models.ArticleModel) = {
    <li>
        <img src="@PicturesHelper.getLogoUrl(article)"/>
        <div class="pit-wall-item-header-author pit-author-truncat">
            <h8><a href="@realm.routes.ArticleController.GET_ArticleDetails(currentRealm, article)">@article.getName</a></h8>
            <p><a href="@realm.routes.VendorPageController.GET_vendorPage(currentRealm, article.getVendorPage)">@article.getVendorPage.getName</a></p>
        </div>
    </li>
}


@if(showArticle) {
<div @if(stickyArticle){data-uk-sticky="{top:80}"}>
    <div class="pit-wall-item">
        <h6 class="pit-title-small-spacing">@Messages.get("LEFTBAR.USER.RECOMMENDATIONS")</h6>
        <ul class="uk-list pit-list-item">
            @if(lastArticles nonEmpty){
                @for(article <- bestArticles){
                    @articleView(currentRealm,article)
                }
            } else {
                @Messages.get("LEFTBAR.REALM.NO.BEST.ARTICLES")
            }
        </ul>
        <div class="pit-separator"></div>
        <h6 class="pit-title-small-spacing">@Messages.get("LEFTBAR.USER.RECENTLY_ADDED")</h6>
        <ul class="uk-list pit-list-item">
            @if(lastArticles nonEmpty){
                @for(article <- lastArticles){
                    @articleView(currentRealm,article)
                }
            } else {
                @Messages.get("LEFTBAR.REALM.NO.LAST.ARTICLES")
            }
        </ul>
    </div>
    <div class="pit-about-box">
        @commonview.FooterCommonView()
    </div>
</div>
} else {
<div class="pit-about-box">
    @commonview.FooterCommonView()
</div>
}