@(currentRealm: models.RealmModel = null)
@import play.i18n._
@import toolbox.helper.SessionHelper

<h6>@Messages.get("SIDEBAR.USER.FAVOURITES")</h6>
<ul class="uk-list pit-list">
    <a href="@controllers.realm.routes.ActorRealmController.GET_Actor(currentRealm, SessionHelper.getAccount().getActor())"><li>@Messages.get("SIDEBAR.USER.FAVOURITES.MY_PROFILE")</li></a>
    <a href="@controllers.realm.routes.HomeRealmController.GET_HomePage(currentRealm)"><li>@Messages.get("SIDEBAR.USER.FAVOURITES.NEWS_FEED")</li></a>
</ul>
<h6>@Messages.get("SIDEBAR.USER.GROUPS")</h6>
<ul class="uk-list pit-list">
    @for(group <- currentRealm.getGroups()){
    <a href="@controllers.realm.group.routes.GroupPageController.GET_PostsPage(currentRealm, group)"><li>@group.getName()</li></a>
    }
</ul>
<h6>@Messages.get("SIDEBAR.USER.PAGES")</h6>
<ul class="uk-list pit-list">
    @if(currentRealm != null) {
        @for(page <- currentRealm.getPages) {
            <a href="@controllers.realm.routes.VendorPageController.GET_vendorPage(currentRealm, page)"><li title="@page.getName" data-uk-tooltip="{pos:'top-left'}">@page.getName</li></a>
        }
    }
</ul>
