@(currentRealm: models.RealmModel = null)
@import play.i18n._
@import toolbox.helper.SessionHelper

<nav class="uk-navbar uk-margin-large-bottom uk-fixed-navigation">
    <div class="uk-container uk-container-center">
        <a class="uk-navbar-brand uk-hidden-small" href="@if(currentRealm != null) {@controllers.realm.routes.HomeRealmController.GET_HomePage(currentRealm)} else {/}">
            <img src="@routes.Assets.versioned("img/mybee-student-nav.jpg")"/>
        </a>
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">
            <img src="@routes.Assets.versioned("img/mybee-student-nav-square.png")" style="height:50px;"/>
        </div>
        @implicitFieldConstructor = @{ SessionHelper.getAccount() }
        <ul class="uk-navbar-nav uk-hidden-small uk-navbar-flip uk-navbar-item-paddings">
            @if(SessionHelper.isAuthenticated()) {
            @if(SessionHelper.getAccount().getRealmCount() > 1) {
            <li class="uk-parent" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false" style="margin-right:10px;">
                <a>
                    <i class="uk-icon-sun-o"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-width-2 pit-realm-navbar-panel">
                    <div class="uk-grid uk-dropdown-grid">
                        <div class="uk-width-1-1">
                            <ul class="uk-nav uk-nav-dropdown uk-panel">
                                @for(r <- SessionHelper.getAccount().getRealms()) {
                                <li>
                                    <a href="@controllers.realm.routes.HomeRealmController.GET_HomePage(r)">
                                        @if(r.getLogo() == null) {
                                            <img src="@routes.Assets.versioned("img/default-realm.png")"/>
                                        } else {
                                        <img src="@r.getLogo().getUrlAsString()"/>
                                        }
                                        <span>@r.getName()</span>
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            }
            <li class="uk-parent" data-uk-dropdown="{mode:'click'}" aria-haspopup="true" aria-expanded="false">
                <a>
                    @SessionHelper.getAccount().getFullNameLight()
                    &nbsp;<i class="uk-icon-caret-down"></i>
                </a>

                <div class="uk-dropdown uk-dropdown-width-2 pit-account-navbar-panel">
                    <div class="uk-grid uk-dropdown-grid">
                        <div class="uk-width-1-1">
                            <ul class="uk-nav uk-nav-dropdown uk-panel">
                                <li>
                                    <a href="@controllers.account.routes.AccountProfileController.GET_AccountProfile()">
                                        <i class="fa fa-cog"></i>
                                        @Messages.get("TOPBAR.LINK.SETTINGS")
                                    </a>
                                </li>
                                <li>
                                    <a href="#b">
                                        <i class="fa fa-optin-monster"></i>
                                        @Messages.get("TOPBAR.LINK.MY_WALLET")
                                    </a>
                                </li>
                                <li>
                                    <a href="@controllers.card.routes.AccountCardController.GET_AccountCard()">
                                        <i class="fa fa-credit-card"></i>
                                        @Messages.get("TOPBAR.LINK.MY_CARD")
                                    </a>
                                </li>
                                <li>
                                    <a href="@controllers.system.routes.AuthenticationController.GET_Disconnect()">
                                        <i class="fa fa-sign-out"></i>
                                        @Messages.get("TOPBAR.LINK.DISCONNECT")
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            } else {
            <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
                <div class="uk-button-group">
                    <a href="@routes.BaseApplicationController.GET_BaseApplication()" class="uk-button">
                        @Messages.get("TOPBAR.LINK.LOGIN")
                    </a>
                </div>
            </div>
            }
        </ul>
        @if(currentRealm != null) {
        <div class="uk-navbar-content uk-hidden-small pit-nav-search-box">
            <form class="uk-form uk-margin-remove uk-display-inline-block uk-autocomplete mb-search"
            name="pit-search-box" method="GET"
            data-uk-autocomplete="{source:'@controllers.realm.routes.SearchRealmController.POST_AutocompleteSearch(currentRealm)'}"
            action="@controllers.realm.routes.SearchRealmController.GET_Search(currentRealm)" autocomplete="off">
                <input type="search" id="search-box-input-q-id" name="q"
                       value = "@if(request().queryString().containsKey("q")){@request().queryString().get("q")}"
                       placeholder="@Messages.get("TOPBAR.PLACEHOLDER.SEARCH")"/>

                <script type="text/autocomplete">
                    <ul class="uk-nav uk-nav-autocomplete uk-autocomplete-results">
                                                    {{~items}}
                                                    <li data-value="{{ JSON.stringify($item) }}">
                                                        <a href="{{$item.slug}}">
                                                            <div class="uk-grid" style="margin-left:0;">
                                                                <div class="uk-width-1-4 uk-text-center uk-text-middle" style="padding-left:0;">
                                                                    {{#$item.logo}}
                                                                        <img src="{{$item.logo}}"/>
                                                                    {{/$item.logo}}
                                                                </div>
                                                                <div class="uk-width-3-4" style="padding-left:10px;">
                                                                    {{ $item.label }}</br>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    {{/items}}
                    </ul>
                </script>

            </form>
        </div>
        }
        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                @if(SessionHelper.isAuthenticated()) {
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-nav-header">@SessionHelper.getAccount().getFullNameLight()</li>
                    <li><a href="#a">@Messages.get("TOPBAR.LINK.MY_ACCOUNT")</a></li>
                    <li><a href="#b">@Messages.get("TOPBAR.LINK.MY_WALLET")</a></li>
                    <li><a href="#c">@Messages.get("TOPBAR.LINK.MY_CARD")</a></li>
                    <li><a href="@controllers.system.routes.AuthenticationController.GET_Disconnect()">@Messages.get("TOPBAR.LINK.DISCONNECT")</a></li>
                    @if(currentRealm != null) {
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">Groupes</li>
                    <li><a href="#b">Promotion 2012</a></li>
                    <li><a href="#c">Rush 42</a></li>
                    <li><a href="#c">AER</a></li>
                    <li><a href="#c">Dormir en cours de philo c'est rigolo</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">Pages</li>
                    <li><a href="#c">La Diva</a></li>
                    <li><a href="#c">Le BDE des connards</a></li>
                    }
                </ul>
                } else {
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-nav-header">MyBee Student</li>
                    <li><a href="@controllers.system.routes.AuthenticationController.POST_Authentication()">@Messages.get("TOPBAR.LINK.LOGIN")</a></li>
                </ul>
                }
            </div>
        </div>
    </div>
</nav>
